
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}

p.center{
  color: #ef6c00;
  font-size: 2rem;
  font-weight: 500;
  font-family: serif;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;

}

.mat-dialog-title {
  text-align: center;
  font-size: 1rem;
  font-family: serif;
}
@media only screen and (max-width: 768px) {
  .main{
    display: block;
  }

  table.mat-table.cdk-table.mat-sort {
    width: max-content;
    
  }
  p.center {
    color: #ef6c00;
    font-size: x-large;
    
    font-family: serif;
    margin: 0rem !important;
  }
  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    vertical-align: top;
  }
  .mat-dialog-container{
    padding: 10px;
  }
  .mat-paginator-range-label {
    margin: 0rem -2rem 0rem 0rem !important;
    /* margin-right: -2rem !important; */
}
span.mat-button-wrapper {
  margin-left: 2rem !important;
  
}
}
