



<div  class="sidebar">
	<span class="head">Registered Users</span>
	<hr>
  <mat-form-field class="search">
		<input matInput placeholder="Search device" autocomplete="off" matInput (input)="search($event.target.value)">
		<mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

    <table mat-table [dataSource]="dataSource" >
       <div>
          <ng-container matColumnDef="i">
            <th mat-header-cell *matHeaderCellDef > </th>
            <td mat-cell *matCellDef="let live" > <mat-icon matListIcon [style.color]="getColorIcon(live.updatedOn)">label_important</mat-icon> </td>
          </ng-container>

          <ng-container matColumnDef="deviceName">
            <th mat-header-cell *matHeaderCellDef ></th>
            <td mat-cell *matCellDef="let live"    (click)="clickDevice(live)"><span *ngIf="live.updatedOn!='0000-00-00 00:00:00'" matTooltip="last synced time: {{live.updatedOn | date : 'medium' : 'IST'}}">{{live.deviceName}}</span> <span *ngIf="live.updatedOn=='0000-00-00 00:00:00'">{{live.deviceName}}</span> </td>
          </ng-container>

       </div>
 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="sidebarPage" pageSize=10 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
