p.header {
    font-size: 1.4rem;
    text-align: center;
}
img.mat-card-image {
    width: 1.6rem;
}
/* .mat-icon{
  color: #ef6c00;
} */
.sidebar {
    margin-top: 1rem;
    padding: 0 1rem;
}
span.head {
    font-size: 1.2rem;
    text-align: center;
}

mat-form-field {
    width: 100% !important;
}
td.mat-cell{
    border-bottom-style: none;
}

th.mat-header-cell{
    border-bottom-style: none;
}
table.mat-table {
    width: 100%;
}
tr.mat-header-row.cdk-header-row.ng-star-inserted {
    display: none;
}
tr.mat-row.cdk-row.ng-star-inserted {
    text-align: left;
}
td.mat-cell.cdk-cell.cdk-column-i.mat-column-i.ng-star-inserted {
    padding: 0 !important;
}
td.mat-cell.cdk-cell.cdk-column-deviceName.mat-column-deviceName.ng-star-inserted {
    padding:0 0 0 1rem !important;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
}
p.online {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
mat-paginator{
  margin-left:-13px;
}
@media only screen and (max-width: 768px) {

  mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c276-1.ng-trigger.ng-trigger-transform.mat-drawer-over.ng-star-inserted.mat-drawer-opened {
    height : fit-content !important;
    width:75% !important;
}
}
