p.header {
    font-size: 1.4rem;
    text-align: center;
}
img.mat-card-image {
    width: 1.6rem;
}
.mat-icon{
  color: #ef6c00;
}
.mobilemenu{
  display: none;
}

mat-list-item.mat-list-item.mat-focus-indicator.mat-list-item-avatar.mat-list-item-with-avatar {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .sidebar{
    display: none;
  }

  .mobilemenu{
    display: block;
  }
button.mat-focus-indicator.mat-menu-item {
  width: 225px;
}
}
