<mat-list class="sidebar">
  <p class="header">Devices</p>
  <hr>
  <mat-list-item *ngFor="let a of findData">
    <mat-icon matListIcon>label_important</mat-icon>
    <h3 matLine (click)="clickDevice(a)"> {{a.deviceName}} </h3>
  </mat-list-item>
</mat-list>


<div class="mobilemenu" >
  <button mat-button [matMenuTriggerFor]="belowMenu" class="menu" >
    <span class="prev" > Devices <mat-icon>keyboard_arrow_right</mat-icon> </span>

  </button>
    
 
  <mat-menu #belowMenu="matMenu" yPosition="below" >
    <div *ngFor="let a of findData">
    <button mat-menu-item  (click)="clickDevice(a.deviceName)">
      <mat-icon matListIcon>label_important</mat-icon>
      {{a.deviceName}}
    </button> 
  </div>
  </mat-menu>


</div>


 

