
<div class="head" *ngIf="type=='overcrowd'">
	<div class="content">
    	<p class="center">Over Crowding</p>
		<span>
			<button mat-button mat-dialog-close><mat-icon >clear</mat-icon></button>
		</span>
    </div>
    <br>

	<mat-card class="overcrowd" >
		<mat-card-content *ngIf="coinDatatemp">
			<form [formGroup]="overCrowdForm"  >
		      <div class="diagWrapper"  formArrayName="data" *ngIf="overCrowdForm.get('data')['controls']?.length>0">
		        <div class='item' *ngFor="let a of overCrowdForm.get('data')['controls']; let i=index;">
		          <ng-container [formGroupName]="i">
		          	{{i+1}}.
					<mat-form-field class="full-width-input">
						<input matInput  type="text" placeholder="Coin Name" formControlName="coinName" required >
						<mat-error>
							Please provide a valid coin name
						</mat-error>
					</mat-form-field>
<!--

					<mat-form-field class="full-width-input">
							<mat-label>Gateway Id</mat-label>
							<mat-select   formControlName="gatewayId" required>
							  <mat-option *ngFor="let b of gateway" [value]="b.gatewayId">
								{{b.gatewayId}}
							  </mat-option>
							</mat-select>
					</mat-form-field> -->


					<mat-form-field class="full-width-input">
						<input matInput  type="number" placeholder="Max limit" formControlName="maxLimit" matInput required  >
						<mat-error>
							Please provide a valid limit
						</mat-error>
					</mat-form-field>

					<button type="button" mat-raised-button color="primary" (click)="submitOvercrowd(a.value)">Submit</button>

					<td><mat-icon matListIcon (click)="deleteOvercrowd(a.value)"  class="cursor">delete</mat-icon></td>

		          </ng-container>
		        </div>

		        <br>

		      </div>
		    </form>
		</mat-card-content>
	</mat-card>

</div>
	<!-- <mat-card class="Groupovercrowd" *ngIf="type=='Groupovercrowd'">
		<mat-card-content *ngIf="groupCoinData">
			<form [formGroup]="groupByoverCrowdForm"  >
		      <div class="diagWrapper"  formArrayName="Groupdata" *ngIf="groupByoverCrowdForm.get('Groupdata')['controls']?.length>0">
		        <div class='item' *ngFor="let a of groupByoverCrowdForm.get('Groupdata')['controls']; let i=index;">
		          <ng-container [formGroupName]="i">
		          	{{i+1}}.
					<mat-form-field class="full-width-input">
						<input matInput  type="text" placeholder="Group Name"  formControlName="groupName" matInput required >
						<mat-error>
							Please provide a valid coin name
						</mat-error>
					</mat-form-field>

					<mat-form-field class="full-width-input" >
						<input matInput  type="text" placeholder="Coin Name" formControlName="coinName"  matInput required >
						<mat-error>
							Please provide a valid coin name
						</mat-error>
					</mat-form-field>



					<mat-form-field class="full-width-input">
						<input matInput  type="number" placeholder="Max limit" formControlName="maxLimit" matInput required >
						<mat-error>
							Please provide a valid limit
						</mat-error>
					</mat-form-field>

					<button type="button" mat-raised-button color="primary" (click)="submitOvercrowd(a.value)">Submit</button>

					<td><mat-icon matListIcon (click)="deleteOvercrowd(a.value)">delete</mat-icon></td>

		          </ng-container>
		        </div>

		        <br>

		      </div>
		    </form>
		</mat-card-content>
	</mat-card> -->



<div *ngIf="type =='Groupovercrowd'" id="htmlData">
	<div class="content">
		<p class="center">  Group Over Crowd </p>
		<span class="icon">

			<button mat-button mat-dialog-close><mat-icon >clear</mat-icon></button>
		</span>
	</div> <br>
<mat-card class="overcrowd">
  <mat-card-content *ngIf="groupNotNull">
    <form [formGroup]="overCrowdGroupForm"  >
        <table class="table table-borderless">
          <tbody>
            <div class="diagWrapper"  formArrayName="items" *ngIf="overCrowdGroupForm.get('items')['controls']?.length>0">
              <tr *ngFor="let name of overCrowdGroupForm.get('items')['controls']; let i=index">
                <div [formGroupName]="i">
                  <td>
                    <mat-form-field class="full-width-input">
                      <input matInput  type="text" placeholder="Group name" formControlName="name" matInput required >
                      <mat-error>
                        Please provide a valid name
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td *ngIf="name.get('data')['controls']?.length>0" class="list">

                    <ul>
                      <li *ngFor="let data of name.get('data')['controls']; let j=index">{{data.get('coinName').value}}</li>
                    </ul>
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select formControlName="coinName" multiple placeholder="Coin Name" [compareWith]="compareCoinGroup">
                        <mat-option *ngFor="let coin of coinData;let i= index" [value]="coin"   [disabled]="(coin.isGroup=='Y' && coin.groupName != name.get('name').value)">{{coin.coinName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="full-width-input">
                      <input matInput  type="number" placeholder="Max limit" formControlName="maxLimit" matInput required >
                      <mat-error>
                        Please provide a valid name
                      </mat-error>
                    </mat-form-field>
                  </td>

                  <td>
                      <button mat-raised-button (click)="submit(overCrowdGroupForm.value,i)" color="primary" >Submit</button>
                  </td>
                  <td>
                    <mat-icon (click)="deleteGroupOverCrowd(overCrowdGroupForm.value,i)" class="cursor">delete</mat-icon>
                  </td>
                </div>
              </tr>
            </div>
          </tbody>

        </table>

    </form>
  </mat-card-content>
</mat-card>
	<!-- <form [formGroup]="overCrowdGroupForm"  >
		<div class="tab-align">
			<table class="table table-borderless">

				<tbody>
					<div class="diagWrapper"  formArrayName="items" *ngIf="overCrowdGroupForm.get('items')['controls']?.length>0">
						<tr *ngFor="let name of overCrowdGroupForm.get('items')['controls']; let i=index">
							<div [formGroupName]="i">
								<td>
									<mat-form-field class="full-width-input">
										<input matInput  type="text" placeholder="Group name" formControlName="name" matInput required >
										<mat-error>
											Please provide a valid name
										</mat-error>
									</mat-form-field>
								</td>
								<td *ngIf="name.get('data')['controls']?.length>0" class="list">

									<ul>
										<li *ngFor="let data of name.get('data')['controls']; let j=index">{{data.get('coinName').value}}</li>
									</ul>
								</td>
								<td>
									<mat-form-field>
										<mat-select formControlName="coinName" multiple placeholder="Coin Name" [compareWith]="compareCoinGroup">
											<mat-option *ngFor="let coin of coinData;let i= index" [value]="coin"   [disabled]="(coin.isGroup=='Y' && coin.groupName != name.get('name').value)">{{coin.coinName}}</mat-option>
										</mat-select>
									</mat-form-field>
								</td>
								<td>
									<mat-form-field class="full-width-input">
										<input matInput  type="number" placeholder="Max limit" formControlName="maxLimit" matInput required >
										<mat-error>
											Please provide a valid name
										</mat-error>
									</mat-form-field>
								</td>
								<td>
									<mat-icon (click)="deleteGroupOverCrowd(overCrowdGroupForm.value,i)" class="cursor">delete</mat-icon>
								</td>
								<td>
										<button mat-raised-button (click)="submit(overCrowdGroupForm.value,i)" color="primary" >Submit</button>
								</td>
							</div>
						</tr>
					</div>
				</tbody>

			</table>
		</div>
	</form> -->
	</div>
