



<div *ngIf="type=='finds'" >

  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Add Find Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>


  <mat-horizontal-stepper  #stepper  >
    <form [formGroup]="Findform" >
      <mat-step >
          <ng-template matStepLabel class="stepper">Name</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="User Name" formControlName="deviceName" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
          <ng-template matStepLabel>Find Id</ng-template>
          <mat-form-field>
            <mat-label>Find Id</mat-label>
            <input type="number" min="1" matInput formControlName="deviceId" placeholder="Ex. 1" required>
            <mat-error >Find ID cannot be 0 or empty</mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Employee Id</ng-template>
        <mat-form-field>
          <mat-label>Employee Id</mat-label>
          <input type="text" matInput formControlName="empId" placeholder="Ex. 1" >
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Email Id</ng-template>
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input type="email" matInput formControlName="emailId" placeholder="Ex. xyz@gmail.com" >
        <mat-error>
          Please provide valid email id. Ex.xyz@gmail.com
        </mat-error>

      </mat-form-field> <br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step class="step-phone">
    <ng-template matStepLabel> Mobile Number</ng-template>
    <!-- <mat-form-field>
      <mat-label>Mobile Number</mat-label>
      <input type="tel" matInput formControlName="mobileNum" placeholder="Mobile Number" >
      <mat-error>
        Please provide valid mobile number
      </mat-error>
    </mat-form-field> -->
    <!-- <international-phone-number2   placeholder="Mobile number" [defaultCountry]="'in'" formControlName="mobileNum">
    </international-phone-number2> -->
    <div class="wrapper intl-phone">
      <ngx-intl-tel-input [cssClass]="'custom'"
        [preferredCountries]="preferredCountries"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="true"
        [selectedCountryISO]="CountryISO.India"
        [maxLength]="15"
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
        [separateDialCode]="false"
        name="mobileNum"
        formControlName="mobileNum">
      </ngx-intl-tel-input>
     <hr class="mob">
     <mat-error *ngIf="Findform.get('mobileNum').status=='INVALID'" class="error" >
      Please provide valid mobile number
     </mat-error>
    </div> <br> <br>
    <div class="btn-stepper">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
</mat-step>


      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!Findform.valid" (click)="Findsubmit(Findform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>


</div>

<div *ngIf="type=='gateways'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Add Gateway Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>

  <mat-horizontal-stepper  #stepper  >
    <form [formGroup]="gatewayform" >
      <mat-step>
        <ng-template matStepLabel class="stepper">Gateway Type</ng-template>
        <mat-form-field>
          <mat-label>Select Gateway Type</mat-label>
          <mat-select formControlName="type">
            <mat-option [value]="0">Ethernet Gateway</mat-option>
            <mat-option [value]="1">WiFi Gateway</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
      <mat-step >
          <ng-template matStepLabel class="stepper">Gateway name</ng-template>
          <mat-form-field>
            <mat-label>Gateway Nick Name</mat-label>
            <input matInput placeholder="Gateway Nick Name" formControlName="deviceName" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
          <ng-template matStepLabel>Gateway Id</ng-template>
          <mat-form-field>
            <mat-label>Gateway Id</mat-label>
            <input matInput min="1" formControlName="deviceId" placeholder="Ex. 1" required>
            <mat-error>
              Enter gateway Id with character 12
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!gatewayform.valid" (click)="Gatewaysubmit(gatewayform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

</div>










<div *ngIf="type=='users'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Add User Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>
  <mat-horizontal-stepper  #stepper >
    <form [formGroup]="userform" >
      <mat-step class="step-phone">
          <ng-template matStepLabel class="stepper" >Mobile number</ng-template>
          <!-- <mat-form-field>
            <mat-label>User Mobile number</mat-label>
            <input matInput type="number" placeholder="Mobile number" formControlName="mobileNum" required>
            <mat-error>
              Please provide valid mobile number
            </mat-error>
          </mat-form-field> -->
          <!-- <international-phone-number2   placeholder="Mobile number" [defaultCountry]="'in'" formControlName="mobileNum">
          </international-phone-number2> -->
          <div class="wrapper intl-phone">
						<ngx-intl-tel-input [cssClass]="'custom'"
							[preferredCountries]="preferredCountries"
							[enableAutoCountrySelect]="true"
							[enablePlaceholder]="true"
							[searchCountryFlag]="true"
							[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
							[selectFirstCountry]="true"
							[selectedCountryISO]="CountryISO.India"
							[maxLength]="15"
							[tooltipField]="TooltipLabel.Name"
							[phoneValidation]="true"
							[separateDialCode]="false"
							name="mobileNum"
							formControlName="mobileNum">
            </ngx-intl-tel-input>
            <hr class="mob">
            <mat-error *ngIf="userform.get('mobileNum').status=='INVALID' && userform.get('mobileNum').touched==true" class="error" >
              Please provide valid mobile number
             </mat-error>
					</div> <br>  <br>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Email id</ng-template>
        <mat-form-field>
          <mat-label>User email Id</mat-label>
          <input matInput type='email' placeholder="Email" formControlName="emailId" required>
          <mat-error>
            Please provide valid email id. Ex.xyz@gmail.com
          </mat-error>
        </mat-form-field> <br><br>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!userform.valid" (click)="Usersubmit(userform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>
</div>






<div *ngIf="type=='coins'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Add Coin Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>



  <mat-horizontal-stepper  #stepper  >
    <form [formGroup]="coinForm" >
      <mat-step >
        <ng-template matStepLabel class="stepper">Coin Type</ng-template>
        <mat-form-field>
          <mat-label>Select Coin Type</mat-label>
          <mat-select formControlName="coinType">
            <mat-option value="LO">Location Coin</mat-option>
            <mat-option value="AG">Aggregator Coin</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

      <mat-step >
          <ng-template matStepLabel class="stepper">Coin name</ng-template>
          <mat-form-field>
            <mat-label>Coin name</mat-label>
            <input matInput placeholder="User Name" formControlName="coinName" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
          <ng-template matStepLabel>Coin Id</ng-template>
          <mat-form-field>
            <mat-label>Coin Id</mat-label>
            <input type="number" matInput formControlName="coinId" placeholder="Ex. 1" required>
            <mat-error>Coin ID cannot be 0</mat-error>

          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Gateway Id</ng-template>


          <mat-form-field>
             <mat-label>Gateway Id</mat-label>
             <mat-select  formControlName="gatewayId">
               <mat-option *ngFor="let b of gateway" [(value)]="b.gatewayId">
                 {{b.gatewayId}}
               </mat-option>
             </mat-select>
           </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!coinForm.valid" (click)="coinSubmit(coinForm.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>
</div>
