<br>
<button class="button" mat-flat-button color="primary" (click)="openDialog()" *ngIf="userType!=3">Add Gateways</button>
<mat-form-field class="full-width-input search">
  <input matInput placeholder="Search device" autocomplete="off" matInput (keyup)="search($event.target.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div *ngIf="userType==3">
  <br><br>
</div>
<!-- <div class="table">
  <table mdbTable  class="table table-hover z-depth-1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayId">Gateway Id</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayName">Gateway Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements;let i=index">
        <td>{{i+1}}</td>
        <td>{{el.gatewayId}}</td>
        <td>{{el.gatewayName}}</td>
        <td><mat-icon matListIcon (click)="edit(el)">create</mat-icon></td>
        <td><mat-icon matListIcon (click)="delete(el)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="center">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="i"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
            <td mat-cell *matCellDef="let i=index,let live"  >
               <span class="material-icons" id="doutsred" *ngIf="live.pingAlertTime!='0000-00-00 00:00:00'" [ngStyle]="GatewaypgiAlret(live.pingAlertStatus)">
                  fiber_manual_record
                  </span>
                  <span class="material-icons" id="doutsyellow" *ngIf="live.pingAlertTime=='0000-00-00 00:00:00'">
                     fiber_manual_record
                 </span> {{i+1}}
            </td>
          </ng-container>

          <ng-container matColumnDef="gatewayType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Type </th>
            <td mat-cell *matCellDef="let live "> {{live.gatewayType}} </td>
          </ng-container>

          <ng-container matColumnDef="gatewayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Name </th>
            <td mat-cell *matCellDef="let live " class="cursor">
              <span  *ngIf="live.pingAlertTime!='0000-00-00 00:00:00'" matTooltip="Gateway Last Online At : {{live.pingAlertTime | date: 'medium'}}">
                 {{live.gatewayName}}
               <!--  <span class="material-icons" [ngStyle]="GatewaypgiAlret(live.pingAlertStatus)">
                  fiber_manual_record
                  </span> -->
               </span>
               <span  *ngIf="live.pingAlertTime=='0000-00-00 00:00:00'" >
                 {{live.gatewayName}}
                <!--  <span class="material-icons"  style="color:yellow">
                  fiber_manual_record
                  </span> -->
               </span> </td>
          </ng-container>

          <ng-container matColumnDef="gatewayId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Id</th>
            <td mat-cell *matCellDef="let live"> {{live.gatewayId}} </td>
          </ng-container>

          <ng-container matColumnDef="currentVersion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway Version</th>
            <td mat-cell *matCellDef="let live"> {{live.currentVersion}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="bleVersion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BLE Version</th>
            <td mat-cell *matCellDef="let live"> {{live.bleVersion}} </td>
          </ng-container> -->

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="userType==3"> Edit </th>
            <td mat-cell *matCellDef="let live"  class="cursor" [hidden]="userType==3"> <mat-icon (click)="edit(live)">{{live.edit}}</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="delete" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="userType==3"> Delete </th>
            <td mat-cell *matCellDef="let live"  class="cursor" [hidden]="userType==3"><mat-icon (click)="delete(live)">{{live.delete}}</mat-icon> </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
      <!-- <mat-paginator   pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons ></mat-paginator> -->
   <mat-paginator
   (page)="getUpdate($event)"
   [length] = "currentPageLength"
   [pageSize]="currentPageSize"
   [pageSizeOptions] = "[5, 10, 25, 100]"
   showFirstLastButtons
  ></mat-paginator>
  </div>

</div>
