<br>
<button class="button" mat-flat-button color="primary" (click)="openDialog()">Add Gateways</button>
<mat-form-field class="full-width-input search">
  <input matInput placeholder="Search device" matInput (input)="search($event.target.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field> 

<div class="table">
  <table mdbTable  class="table table-hover z-depth-1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayId">Gateway Id</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayName">Gateway Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements;let i=index">
        <td>{{i+1}}</td>
        <td>{{el.gatewayId}}</td>
        <td>{{el.gatewayName}}</td>
        <td><mat-icon matListIcon (click)="edit(el)">create</mat-icon></td>
        <td><mat-icon matListIcon (click)="delete(el)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div>
