table.mat-table.cdk-table.mat-sort.mat-elevation-z8 {
    width: 100%;
}
button.mat-focus-indicator.button.mat-flat-button.mat-button-base.mat-primary {
    display: flex;
    margin: 1rem auto;
}

table.table thead th {
    font-weight:600;
    cursor: pointer;
}
.search{
	position: absolute;
    top: 2rem;
    right: 1rem;
}
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}
.cursor{
    cursor: pointer;
  }

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}
.center {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.2rem 0 2rem 0;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
    table.table thead th {
        font-weight: 600;
        cursor: pointer;
        font-size: smaller;
    }
    .search{
        width: 120px;

    }
    button.mat-focus-indicator.button.mat-flat-button.mat-button-base.mat-primary {
        margin-left: 1.2rem;
    }

}
