<br>
<button class="button" mat-flat-button color="primary" (click)="openDialog()">Add Gateways</button>
<mat-form-field class="full-width-input search">
  <input matInput placeholder="Search device" autocomplete="off" matInput (input)="search($event.target.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- <div class="table">
  <table mdbTable  class="table table-hover z-depth-1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayId">Gateway Id</th>
        <th scope="col"  [mdbTableSort]="elements" sortBy="gatewayName">Gateway Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of elements;let i=index">
        <td>{{i+1}}</td>
        <td>{{el.gatewayId}}</td>
        <td>{{el.gatewayName}}</td>
        <td><mat-icon matListIcon (click)="edit(el)">create</mat-icon></td>
        <td><mat-icon matListIcon (click)="delete(el)">delete</mat-icon></td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="center">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="i"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
            <td mat-cell *matCellDef="let i=index" > {{i+1}} </td>
          </ng-container>


          <ng-container matColumnDef="gatewayId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Id</th>
            <td mat-cell *matCellDef="let live"> {{live.gatewayId}} </td>
          </ng-container>


          <ng-container matColumnDef="gatewayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </th>
            <td mat-cell *matCellDef="let live "> {{live.gatewayName}} </td>
          </ng-container>


          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let live"> <mat-icon (click)="edit(live)">{{live.edit}}</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let live"><mat-icon (click)="delete(live)">{{live.delete}}</mat-icon> </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table>
  </div>
  <mat-paginator   pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons ></mat-paginator>
</div>
