
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}
.center {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.2rem 0 2rem 0;
  letter-spacing: 2px;
  font-weight: 500;
}

.selectDevice {
  margin-top:1rem
}
/* mat-form-field.mat-form-field.flex1.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder {
    margin-left: 5rem;
}
mat-form-field.mat-form-field.flex1.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.ng-valid.ng-touched.mat-form-field-should-float.ng-dirty {
    margin-left: 5rem;
} */
button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
    height: 2rem;
}

@media only screen and (max-width: 768px){
    /* .selectDevice {
        margin: 1rem;
        display: table-caption;
    } */
    .mat-form-field {
        
        width: 7rem !important;
        margin-left: 1rem;
    }
}
