<!-- <fieldset>
  <legend>Reports</legend>
  <p>manage-finds works!</p>
</fieldset> -->
<br>
<div class="flex">
  
   <div class="upload">
    <form action="" [formGroup]="fileupload" (ngSubmit)="fileSubmit(fileupload.value)">
      <span> <input type="file" #fileInput (change)="fileChange($event.target.files)" >
      <button class="upload-btn" mat-flat-button color="primary" >Upload</button></span> <br> <br>
 
    <span *ngIf="loading" style="color:red">Please choose xlsx or xls file*</span>
    <span *ngIf="format" style="color:red"> Please check format: Name*, employeeId[optional], deviceId*, emailId[optional], mobileNumber[optional]</span>
  
    </form>
   </div> 
    <button class="button" mat-flat-button color="primary" (click)="openDialog()">Add Finds</button>
 
  <mat-form-field class="full-width-input search">
    <input matInput placeholder="Search device" autocomplete="off" matInput (input)="search($event.target.value)" >
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>



</div>

<!-- 
<div class="table">
  <table  mdbTable class="table table-hover z-depth-1" mdbTable >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" [mdbTableSort]="elements" sortBy="deviceId">Device Id </th>
        <th scope="col" [mdbTableSort]="elements" sortBy="deviceName">Device Name</th>
        <th scope="col" [mdbTableSort]="elements" sortBy="shift">Shift</th>
        <th scope="col" [mdbTableSort]="elements" sortBy="infected">Infected</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let el of elements; let i = index">
        <td>{{i+1}}</td>
        <td >{{el.deviceId}}</td>
        <td>{{el.deviceName}}</td>
        <td>
          <mat-form-field>
            <mat-label>Shift</mat-label>
            <mat-select  [(value)]="el.shift" (selectionChange)="onShiftSelection(el)">
              <mat-option *ngFor="let b of shifts" [value]="b.shiftName">
                {{b.shiftName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <span *ngIf="el.infected==0">
            <mat-slide-toggle color="primary" [checked]="false" (change)="infected(el)"></mat-slide-toggle>
          </span>
          <span *ngIf="el.infected==1">
            <mat-slide-toggle color="primary" [checked]="true" (change)="infected(el)"></mat-slide-toggle>
          </span>
         

        </td>
        <td><mat-icon matListIcon (click)="edit(el)">{{el.edit}}</mat-icon></td>
        <td><mat-icon matListIcon (click)="delete(el)">{{el.delete}}</mat-icon></td>


      </tr>
    </tbody>
  </table>
</div> -->



<div class="center">

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort >


   <div  >
      <ng-container matColumnDef="i"  >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
          <td mat-cell *matCellDef="let live" > {{live.i}} </td>
        </ng-container>


        <ng-container matColumnDef="deviceId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Id</th>
          <td mat-cell *matCellDef="let live"> {{live.deviceId}} </td>
        </ng-container>

        
        <ng-container matColumnDef="deviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Name </th>
          <td mat-cell *matCellDef="let live "> {{live.deviceName}} </td>
        </ng-container>

        <ng-container matColumnDef="empId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Id</th>
          <td mat-cell *matCellDef="let live "> {{live.empId}} </td>
        </ng-container>

        <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Shift </th>
          <td mat-cell *matCellDef="let live"> 
            <mat-form-field>
             <mat-label>Shift</mat-label>
              <mat-select  [(value)]="live.shift" (selectionChange)="onShiftSelection(live)">
                <mat-option *ngFor=" let b of shifts" [value]="b.shiftName">
                  {{b.shiftName}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <!-- {{live.shift}} -->

          </td>
        </ng-container>

        <ng-container matColumnDef="infected">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Infected </th>
          <td mat-cell *matCellDef="let live"> 
             <span *ngIf="live.infected==0">
            <mat-slide-toggle color="primary" [checked]="false" (change)="infected(live)"></mat-slide-toggle>
          </span>
          <span *ngIf="live.infected==1" class="infec">
            <mat-slide-toggle color="primary"  [checked]="true" (change)="infected(live)"></mat-slide-toggle>
          </span></td>
        </ng-container>

        <ng-container matColumnDef="batteryStatus">
              
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Battery</th>
          
          <td mat-cell *matCellDef="let live "  class="cursor"> 
            <span  *ngIf="getBatteryUpdatedOn(live.batteryUpdatedOn)!='0000-00-00 00:00:00'" matTooltip="last synced time : {{getBatteryUpdatedOn(live.batteryUpdatedOn) | date: 'medium'}}" >
              <div class="batteryContainer">
                <div class="batteryOuter"><div id="batteryLevel"  [ngStyle]="getBatteryStatus(live.batteryStatus)" > </div></div>
                <div class="batteryBump"></div>
                </div>
              </span> 
          
            <div  *ngIf="getBatteryUpdatedOn(live.batteryUpdatedOn)=='0000-00-00 00:00:00' || live.batteryStatus=='0'" >
              <div class="batteryContainer">
                <div class="batteryOuter"><div id="batteryLevel"  [ngStyle]="getBatteryStatus(live.batteryStatus)" > </div></div>
                <div class="batteryBump"></div>
              </div>
            </div>
         
        </td>
       
      </ng-container>

        <ng-container matColumnDef="emailId"  >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID </th>
          <td mat-cell *matCellDef="let live" > {{live.emailId}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileNum"  >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No. </th>
          <td mat-cell *matCellDef="let live" > {{live.mobileNum}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
          <td mat-cell *matCellDef="let live"  (click)="edit(live)" class="cursor"> <mat-icon>{{live.edit}}</mat-icon></td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
          <td mat-cell *matCellDef="let live"  (click)="delete(live)" class="cursor"><mat-icon>{{live.delete}}</mat-icon> </td>
        </ng-container>

   </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
    <mat-paginator   pageSize="10" [pageSizeOptions] = "[5, 10, 25, 100]" showFirstLastButtons >
    </mat-paginator>
</div>
 </div>