mat-card.mat-card.mat-focus-indicator {
    width: 20rem;
    text-align: center;
    margin: 1rem 0;
}
.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mat-card-header {
    background-color: red !important;
    padding: 5px !important;
}
mat-card.mat-card.mat-focus-indicator {
    box-shadow: 0 2px 8px 0 #ef6c00;
}
mat-card-title{
  color: #ef6c00;
  font-family: serif;
  line-height: 2rem;
} 
