

<div class="history">
  <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Report based on Date
      </mat-card-title>
      <mat-card-subtitle>
        Enter From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (click)="onclickDate(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="onclickDate(14)">Last two week</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="dateForm" (ngSubmit)="onSubmitDateForm(dateForm.value)">

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker1" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker1></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker2" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
  <br>
        <button mat-raised-button [disabled]="!dateForm.valid" color="primary" >Submit</button>
      </form>
    </mat-card-content>
  </mat-card>



  <!-- <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Report based on Find Id
      </mat-card-title>
      <mat-card-subtitle>
        Select find and From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickFindId(7)">Previous Day</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickFindId(14)">Previous Day</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="findIdForm" (ngSubmit)="onSubmitFindId(findIdForm.value)">

        <mat-form-field>
          <mat-label>Select find</mat-label>
          <mat-select formControlName="selectedValue" name="find">
            <mat-option *ngFor="let a of finds" [value]="a.deviceId">
              {{a.deviceId}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type='date' matInput placeholder="From date" formControlName="fromDate" required>
          <mat-icon matPrefix >calendar_today</mat-icon>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  type='date' matInput  placeholder="To date" formControlName="toDate" required >
          <mat-icon matPrefix >calendar_today</mat-icon>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field><br>
        <button mat-raised-button [disabled]="!findIdForm.valid" color="primary" >Submit</button>
      </form>
    </mat-card-content>
  </mat-card> -->




  <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Report based on User Name
      </mat-card-title>
      <mat-card-subtitle>
        Enter User Name and From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickFindName(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickFindName(14)">Last two week</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="findNameForm" (ngSubmit)="onSubmitFindName(findNameForm.value)">

        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="User Name" formControlName="deviceName" required>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker3" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker3></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker4" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker4"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker4></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
        <button mat-raised-button [disabled]="!findNameForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- summary from -->

  <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Summary Report of Infected User
      </mat-card-title>
      <mat-card-subtitle>
        Enter User Name and From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickSummaryReport(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickSummaryReport(14)">Last two week</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="summaryReportForm" (ngSubmit)="onSubmitSummaryReport(summaryReportForm.value)">

        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="User Name" formControlName="deviceName" required>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="full-width-input">
          <input type='date' matInput placeholder="From date" formControlName="fromDate" required>
          <mat-icon matPrefix >calendar_today</mat-icon>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker5" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker5></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker6" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker6></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
        <button mat-raised-button [disabled]="!summaryReportForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Report based on Location
      </mat-card-title>
      <mat-card-subtitle>
        Enter location name and From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickLocation(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickLocation(14)">Last two week</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="locationForm" (ngSubmit)="onSubmitLocationForm(locationForm.value)">

        <mat-form-field class="full-width-input">
          <mat-label>Select Location Name</mat-label>
          <mat-select  formControlName="coinSelect">
            <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker7" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker7"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker7></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker8" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker8"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker8></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
        <button mat-raised-button [disabled]="!locationForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
