mat-card.mat-card.mat-focus-indicator {
    width: 20rem;
    text-align: center;
    margin: 1rem 0;
}
.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mat-card-header {
    background-color: red !important;
    padding: 5px !important;
}
mat-card.mat-card.mat-focus-indicator {
    box-shadow: 0 2px 8px 0 #ef6c00;
}
mat-card-title{
  color: #ef6c00;
  /* font-family: serif; */
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}
.dailog {
    display: flex;
    justify-content: center;
}
::ng-deep .mat-autocomplete-panel{
    width:0 !important;
}
mat-radio-button {
    display: inline !important;
    margin-left: 2.6rem;
}
.text{
    margin-right: 4rem;
}
mat-radio-group.mat-radio-group.ng-untouched.ng-pristine.ng-valid {
    display: flex;
}

mat-radio-group.mat-radio-group {
    display: flex;
    justify-content: space-between;
}
button.mat-focus-indicator.btn-set.mat-raised-button.mat-button-base.mat-primary {
  position: absolute;
  bottom: 1rem;
  right: 7.5rem;
}
mat-card.mat-card.mat-focus-indicator.geoReport {
    width: 21rem !important;
}
.radio{
    margin-left: -2rem;
    display: flex;
    justify-content: space-evenly;
}
/* .radio.radio1 {
    margin-top: 0.7rem;
} */
.radio.radio2 {
    /* margin-top: 3rem; */
    margin-left: 1rem;
} 
@media only screen and (max-width: 768px) {
    /* .history{
        margin-left: 2rem;
    } */
}
