mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 254px;
  border: 1px solid #ef6c00;
  box-shadow: 0 2px 8px 0 #ef6c00 !important;
}

mat-form-field {
  display: block;
}
mat-card-title.mat-card-title {
    color: #ef6c00d1;
}
mat-icon{
  color: #ef6c00d1;
}
.version {
  margin-top: 30%;
  text-align: center;
  color: #afaaaa;
}
/* .login {
  text-align: start;
} */
.set-pwd {
  position: absolute;
  right: 0.2rem;
  color: darkorange;
  cursor: pointer;
}
.line {
  text-decoration-line: underline;
}
.pwd-error{
  color:red
}
@media only screen and (max-width: 768px) {
   .login{
     width: 90%;
   } 
}