
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}

p.center{
  color: #ef6c00;
  font-size: 2rem;
  font-weight: 500;
  font-family: serif;
  margin: 0 auto;
  padding-left: 4rem;
}
.content {
  display: flex;
  justify-content: space-between;

}

.mat-dialog-title {
  text-align: center;
  font-size: 1rem;
  font-family: serif;
}
td.mat-cell.cdk-cell.cdk-column-contactName.mat-column-contactName.ng-star-inserted {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
.main{
  display: block;
}
table.mat-table.cdk-table.mat-sort {
  margin: 0px 0px 0px -8px;
}
.mat-dialog-title {
  text-align: center;
  font-size: unset !important;
  font-family: serif;
}
p.center {
  color: #ef6c00;
  font-size: large;
  font-weight: 500;
  font-family: serif;
  margin: 0 !important;
  padding: 0 !important;
}

}



