button.mat-focus-indicator.button.mat-flat-button.mat-button-base.mat-primary {
    display: flex;
    margin: 1rem auto;
}
@media only screen and (max-width: 768px) {
    table.table thead th {
        font-weight: 600;
        cursor: pointer;
        font-size: smaller;
    }
    .icon{
        display: none;
    }
    .col-10{
        padding-left: 22px;
    }
}