button.mat-focus-indicator.button.mat-flat-button.mat-button-base.mat-primary {
    display: flex;
    margin: 1rem auto;
}
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}
.center {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.2rem 0 2rem 0;
  letter-spacing: 2px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
    table.table thead th {
        font-weight: 600;
        cursor: pointer;
        font-size: smaller;
    }
    .icon{
        display: none;
    }
    .col-10{
        padding-left: 22px;
    }
}