
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}
thead {
  border-bottom: 1px solid #80808029;

}
.tab-align {
  border: 1px solid #8080800a;
  box-shadow: 1px 1px 1px 1px #8080802e;
}
.btn {
  display: flex;
  justify-content: flex-end;
  margin-right: -1rem;
}
.btn-color {
  border: 1px solid #ef6c00;
  color: #ef6c00;

}
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}

p.center{
  color: #ef6c00;
  font-size: 2rem;
  font-weight: 500;
  /* font-family: serif; */
  margin: 0 auto;
  padding-left: 4rem;

}
.content {
  display: flex;
  justify-content: space-between;

}
td.mat-cell.cdk-cell.cdk-column-contactName.mat-column-contactName.ng-star-inserted {
  cursor: pointer;
}
.mat-dialog-title {
  text-align: center;
  font-size: 1rem;
  /* font-family: serif; */
}

.download2{
  display: none;
}

@media only screen and (max-width: 768px) {
  .main,.download2{
    display: block;
  }
  .download1{
    display: none;
  }
  .download2{
    color: #ef6c00;
  }
  span.icon {
    display: flex;
}
  table.mat-table.cdk-table.mat-sort {
    width: max-content !important;
    margin-left: -1rem !important;
  }
  p.center {
    color: #ef6c00;
    font-size:x-large;
    /* font-family: serif; */
    margin-left: -3rem !important;
  }
  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    vertical-align: top;
  }
.mat-dialog-title {
  text-align: center;
  font-size: larger !important;
  /* font-family: serif; */
}
.mat-paginator {
  display: block;
  margin-left: -1rem !important;
}

element.style {
  transform-origin: 50% 188.5px 0px;
  font-size: 14px;
  opacity: 1;
  min-width: calc(100% + 32px);
  transform: scaleY(1);
}
.mat-select-panel {
  max-width: fit-content;
  margin: auto;
}
}
