
table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}

p.center{
  color: #ef6c00;
  font-size: 2rem;
  font-weight: 500;
  font-family: serif;
  position: absolute;
}
.content {
  display: flex;
  justify-content: center;
}
button.mat-focus-indicator.mat-button.mat-button-base {
  margin-left: 31rem;
  position: fixed;
}
.mat-dialog-title {
  text-align: center;
  font-size: 1rem;
  font-family: serif;
}
@media only screen and (max-width: 768px) {
.main{
  display: block;
}
button.mat-focus-indicator.mat-button.mat-button-base {
  margin-left: 5rem;
  position: fixed;
}
table.mat-table.cdk-table.mat-sort {
  margin: 0px 0px 0px -25px;
}
.mat-dialog-title[_ngcontent-gta-c193] {
  text-align: center;
  font-size: small;
  font-family: serif;
}

}