

<mat-toolbar>
 <div class="mobilemenu" >
  <div *ngIf="loginData">
    <button mat-button [matMenuTriggerFor]="belowMenu" class="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item routerLink="/home"> <mat-icon>home</mat-icon>Home</button>
    <button mat-menu-item routerLink="/dashboard"> <mat-icon>people</mat-icon>Manage People</button>
    <button mat-menu-item routerLink="/live-data"> <mat-icon>person_pin_circle</mat-icon>Social Distancing</button>
    <button mat-menu-item routerLink="/history"> <mat-icon>menu_book</mat-icon>History</button>
    <button mat-menu-item routerLink="/settings"> <mat-icon>settings</mat-icon>Setting</button>

  </mat-menu>

  </div>
 </div>
  <span class="flex">
    <img src="./assets/logo.png" alt="Sensegiz">
    <span class="end">
      <span class="flex" *ngIf="loginStatus">
        <span>
          <mat-icon >person</mat-icon>
        </span>
        <p>{{title | uppercase }}</p>&emsp;&nbsp;&emsp;
        <span  (click)="logout()">
          <mat-icon >exit_to_app</mat-icon>
        </span>
      </span>
    </span>
  </span>
  </mat-toolbar>



<div *ngIf="loginData">
  <mat-toolbar color="primary" class="menubar">
    <span routerLink="/home">Home</span>
    <span routerLink="/dashboard">Manage People</span>
    <span routerLink="/live-data">Social Distancing</span>
    <span routerLink="/history">History</span>
    <span routerLink="/settings">Setting</span>
  </mat-toolbar>


<div class="container-fluid">


  <div class="row">
    <div class="col-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="devices">

      <div class="" *ngIf="deviceStatus">
        <app-side-bar></app-side-bar>
      </div>
  </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>

  </div>
</div>


<div *ngIf="!loginData">
  <router-outlet></router-outlet>

</div>
