img {
    width: 14%;
}
.menubar{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}


.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-top: 8rem;
}


.end{
  position: absolute;
  right: 2rem;
  top: 1rem;
}