
<mat-toolbar>
  <span class="flex">
    <img src="./assets/logo.png" alt="Sensegiz">
    <span class="end">
      <span class="flex">
        <mat-icon >person</mat-icon>
        <p>{{title}}</p>
        <span (click)="logout()">Logout</span>
      </span>
    </span>
  </span>

</mat-toolbar>
<div *ngIf="loginData">
  <mat-toolbar color="primary" class="menubar">
    <span routerLink="/home">Home</span>
    <span routerLink="/dashboard">Manage Assets</span>
    <span>Social Distancing</span>
    <span routerLink="/history">History</span>
    <span routerLink="/settings">Setting</span>
  </mat-toolbar>


<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>


  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
    fixedInViewport="fixed" >
    <app-side-bar></app-side-bar>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>


</mat-sidenav-container> -->

  </div>
</div>


<div *ngIf="!loginData">
  <router-outlet></router-outlet>

</div>
