img {
    width: 14%;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.menubar{
    display: flex;
    justify-content: space-evenly;
}


.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-top: 8rem;
}
