<div class="statusFreeze flexWrap" *ngIf = "statusFreeze">
  <mat-spinner mode="indeterminate"></mat-spinner><span [innerHTML]="freezeMessage"></span>
</div>

<mat-toolbar>
 <div class="mobilemenu" >
  <div *ngIf="twoStepAuth?.status && twoStepAuth?.role=='user'">
    <button mat-button [matMenuTriggerFor]="belowMenu" class="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <div class=" title" *ngIf="loginStatus">
      <span>
        <mat-icon >person</mat-icon>
      </span> <br>
      <p >{{loginDataInfo.userName}}</p>

    </div><hr>
    <button mat-menu-item routerLink="/home"> <mat-icon>home</mat-icon>Home</button>

    <button mat-menu-item routerLink="/dashboard"> <mat-icon>people</mat-icon>Manage People</button>
    <button mat-menu-item routerLink="/live-data"> <mat-icon>person_pin_circle</mat-icon>Social Distancing</button>
    <button mat-menu-item routerLink="/exception"> <mat-icon>group</mat-icon>Exception</button>
    <!-- <button mat-menu-item routerLink="/location"> <mat-icon>place</mat-icon>Location</button> -->

    <button mat-menu-item routerLink="/settings" *ngIf="loginDataInfo.type!==3"> <mat-icon>settings</mat-icon>Settings</button>
    <button mat-menu-item routerLink="/profile" *ngIf="loginDataInfo.type!==3"> <mat-icon>perm_identity</mat-icon>Create Profile</button>
    <button mat-menu-item routerLink="/history"> <mat-icon>menu_book</mat-icon>Reports</button>
    <button mat-menu-item  (click)="logout()" class="logout"><mat-icon >exit_to_app</mat-icon>Logout</button>


    <!-- <button mat-raised-button class="guide"><span routerLink="/user-guide">User Guide</span></button> -->

  </mat-menu>

  </div>
 </div>
 <span class="flex logo">
   <img *ngIf="twoStepAuth?.status && twoStepAuth?.role=='admin'" src="./assets/logo.png" alt="Sensegiz">


   <img *ngIf="twoStepAuth?.status && twoStepAuth?.role=='user'" src="{{host}}/photo/{{loginDataInfo.logo}}" alt="Sensegiz">


   <img *ngIf="!twoStepAuth?.status" src="./assets/logo.png" alt="Sensegiz">
    <span class="end">
      <span class="flex title" *ngIf="loginStatus && isDesktopDevice">
        <span>
          <mat-icon >person</mat-icon>
        </span>
        <p >{{loginDataInfo.userName}}</p>&emsp;&nbsp;&emsp;
        <span  (click)="logout()" class="logout">
          <mat-icon >exit_to_app</mat-icon>
        </span>
      </span>
      <span class="flex title" *ngIf="loginStatus && twoStepAuth?.role=='admin' && (isMobile || isTablet)">
        <span>
          <mat-icon >person</mat-icon>
        </span>
        <p >{{loginDataInfo.userName}}</p>&emsp;&nbsp;&emsp;
        <span  (click)="logout()" class="logout">
          <mat-icon >exit_to_app</mat-icon>
        </span>
      </span>

    </span>
  </span><br>
  </mat-toolbar>




<div *ngIf="twoStepAuth?.status && twoStepAuth?.role=='user'">
  <mat-toolbar color="primary" class="menubar">
    <span routerLink="/home">Home</span>

    <span routerLink="/dashboard">Manage People</span>
    <span routerLink="/live-data">Social Distancing</span>
    <span routerLink="/exception">Exception</span>
    <!-- <span routerLink="/location">Location</span> -->
     <span *ngIf="loginDataInfo.type!==3">
      <span [matMenuTriggerFor]="belowMenu" class="menu">Settings</span>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/settings" *ngIf="loginDataInfo.type!==4">General settings</button>
        <button mat-menu-item routerLink="/geo-fence">Geofence settings</button>
        </mat-menu>
     </span>
     <span routerLink="/profile" *ngIf="loginDataInfo.type!==3 && loginDataInfo.type!==4">Create Profile</span>
     <span routerLink="/history">Reports</span>

   <span routerLink="/user-guide">User Guide</span>


  </mat-toolbar>

  <div *ngIf="isDesktopDevice">

    <div class="container-fluid">


      <div class="row">
        <div class="col-2">
          <app-side-bar></app-side-bar>
        </div>
        <div class="col-10">
          <!-- <button mat-raised-button color="primary" class="guide"><span routerLink="/user-guide">User Guide</span></button> -->
          <router-outlet></router-outlet>
        </div>
      </div>

      </div>
  </div>

  <div *ngIf="isMobile || isTablet" >
    <mat-sidenav-container class="example-container">

      <mat-sidenav #sidenav mode="over"  >
       <app-side-bar></app-side-bar>
      </mat-sidenav>

      <mat-sidenav-content >
        <button mat-raised-button color="primary" class="guide"><span routerLink="/user-guide">User Guide</span></button>
        <p class="content" (click)="sidenav.toggle()">&nbsp;&nbsp;  Devices list <mat-icon color="primary">keyboard_arrow_right</mat-icon></p>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div >
</div>

<div *ngIf="!twoStepAuth?.status">
  <router-outlet></router-outlet>
</div>

<div *ngIf="twoStepAuth?.status && twoStepAuth?.role=='admin'">
  <router-outlet></router-outlet>
</div>
