<!-- <mat-card>
<div class="title">
  <mat-card-title>
    {{deviceData.deviceId}} Details
  </mat-card-title>
  <mat-card-subtitle>
    Below are the data of {{deviceData.deviceId}}
  </mat-card-subtitle>
</div>
  <mat-card-content>
    <div class="table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Base Device Name</th>
            <th scope="col">Contact Device Name</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of finds;let i=index">
            <td>{{i+1}}</td>
            <td>{{deviceData.deviceName}}</td>
            <td>{{a.contactDeviceName}}</td>
            <td>{{ a.updatedOn | date : 'medium' : 'IST' }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator pageSize=10 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card> -->


<div class="center">
  <h2> Details of  {{deviceData.deviceName}} </h2>
    <p> Below are the data of Device Id {{deviceData.deviceId}}</p>
    <hr>
</div>

<div class="mat-elevation-z8">
  <table  class="table table-hover" mat-table [dataSource]="dataSource" matSort >


   <div >
      <ng-container matColumnDef="i">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
          <td mat-cell *matCellDef="let live"> {{live.i}} </td>
        </ng-container>


        <ng-container matColumnDef="deviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Base Device Name </th>
          <td mat-cell *matCellDef="let live"> {{live.deviceName}} </td>
        </ng-container>


        <ng-container matColumnDef="contactDeviceName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Device Name </th>
          <td mat-cell *matCellDef="let live "> {{live.contactDeviceName}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
          <td mat-cell *matCellDef="let live"> {{live.updatedOn | date : 'medium' : 'IST'}} </td>
        </ng-container>

   </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
                  (page)="getUpdate($event)"
                  [length] = "currentPageLength"
                  [pageSize]="currentPageSize"
                  [pageSizeOptions] = "[5, 10, 25, 100]"
                  showFirstLastButtons 
         ></mat-paginator>

</div>
