.table thead th ,h2 {
    color: #ef6c00;
   }
   table.mat-table {

    width: 100%;
    margin-top: 1rem;
    /* text-align: center; */
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ef6c00;
}


@media only screen and (max-width: 768px) {
    .title{
      text-align: center;
    }
   .center{
     margin-top: 1rem;
     text-align: center;
   }
   ::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
    font-weight: 500;
    font-size: 0.9rem;
    color: #ef6c00;
  }
  
}