mat-card {
    width: 20rem;
    margin: 2em auto;
    text-align: center;
  }
  .setting {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-evenly; */
  }

  .mat-radio-button{
    margin-left: 30px !important;
  }
  mat-card.mat-card.mat-focus-indicator {
      box-shadow: 0 2px 8px 0 #ef6c00;
  }
  .wearable {
    display: flex;
    justify-content: space-evenly;
    margin-top: -1rem;

  }
  
  mat-card-title{
    color: #ef6c00;
    /* font-family: serif; */
    line-height: 2rem;
  }
  .warning {
    border: 1px solid red;
    color: red;
  }
  .note{
    color: red;
  }
  button.mat-focus-indicator.btn-set.mat-raised-button.mat-button-base.mat-primary {
  position: absolute;
  bottom: 1rem;
  right: 7.5rem;
}
td.ng-star-inserted {
    cursor: pointer;
}
  @media only screen and (max-width: 768px){
    .setting {
      display: block;
      /* flex-wrap: wrap; */
      /* justify-content: space-evenly; */
  }

  }
