<div class='setting'>
  <mat-card>
    <mat-card-title>
       Define Buffer
    </mat-card-title>
    <mat-card-subtitle>
      Enter buffer value for the wearable
    </mat-card-subtitle><br>
    <mat-card-content>
      <form [formGroup]="bufferForm" (ngSubmit)="onSubmitBufferForm(bufferForm.value)">
        <mat-form-field>
          <input type='number' min="0" max="5" matInput placeholder="Buffer" formControlName="buffer" (input)="bufferval($event)"  required>
          <mat-error >
            Please provide a valid buffer
          </mat-error>

        </mat-form-field>
        <mat-error class="bufferError" *ngIf="bufferValue">
         Maximum value you can set is 5
        </mat-error>

        <br><br><br>
        <button class="btn-set" mat-raised-button [disabled]="bufferValue" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Define Maximum Range
    </mat-card-title>
    <mat-card-subtitle>
     Enter maximum Coin to Find range
    </mat-card-subtitle><br>
    <mat-card-content>

      <form [formGroup]="maxDistanceForm" (ngSubmit)="onSubmitmaxDistanceForm(maxDistanceForm.value)" >
        <mat-form-field  >
            <mat-label>Enter Range</mat-label>
            <mat-select class="select-panel" formControlName="maxDistance"  required >
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
            <mat-error  >
              Please enter value
            </mat-error>
        </mat-form-field>
        <br><br><br>
        <button class="btn-set" mat-raised-button [disabled]="!maxDistanceForm.valid"  color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>
       Define Inactivity
    </mat-card-title>
    <mat-card-subtitle>
      Enter inactivity in minutes
    </mat-card-subtitle>

    <mat-card-content>
      <form [formGroup]="inactivityForm" (ngSubmit)="onSubmitInactivityForm(inactivityForm.value)">
        <mat-slide-toggle color="primary" [checked]="inactivityStatusValue.value" formControlName="type" (change)="inactivityChange($event)" >{{inactivityStatusValue.status}}</mat-slide-toggle>
        <br>
        <mat-form-field *ngIf="inactivityStatusValue.value">
          <mat-label>Set Inactivity</mat-label>
          <mat-select formControlName="inactivity" [required]="inactivityStatusValue.value">
            <mat-option [value]="1">10</mat-option>
            <mat-option [value]="2">20</mat-option>
            <mat-option [value]="3">30</mat-option>
            <mat-option [value]="4">40</mat-option>
            <mat-option [value]="5">50</mat-option>
            <mat-option [value]="6">60</mat-option>
          </mat-select>
          <mat-error>
            Please provide a valid inactivity in minutes
          </mat-error>
        </mat-form-field> <br>
        <br><br>
        <button class="btn-set" mat-raised-button [disabled]="!inactivityForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>
    Scanning Interval
    </mat-card-title>
    <mat-card-subtitle>
     Enter interval
    </mat-card-subtitle><br>
    <mat-card-content>

      <form [formGroup]="scanningForm" (ngSubmit)="onSubmitScanningForm(scanningForm.value)" >
        <mat-radio-group color="primary" class="wearable">
         <mat-radio-button value="1" name="small"  (click)="scannIntravaleLimit(1)" checked>Standard</mat-radio-button>
         <mat-radio-button value="0" name="small" (click)="scannIntravaleLimit(2)">Custom</mat-radio-button>
       </mat-radio-group>
      <!--  <mat-radio-group  color="primary" formControlName="scann"  class="wearable" >
         <mat-radio-button value="1" name="small"  (change)="selectfinds($event)" [checked]="true">All</mat-radio-button>
         <mat-radio-button value="2" name="small" (change)="selectfinds($event)">Specific Finds</mat-radio-button>
       </mat-radio-group> -->
       <div *ngIf="standered">
         <mat-form-field>
           <mat-label>Interval in seconds</mat-label>
          <mat-select formControlName="seconds" required>
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="25">25</mat-option>
             <mat-option value="30">30</mat-option>
             <mat-option value="35">35</mat-option>
             <mat-option value="40">40</mat-option>
             <mat-option value="45">45</mat-option>
             <mat-option value="50">50</mat-option>
             <mat-option value="55">55</mat-option>
             <mat-option value="60">60</mat-option>
             <mat-option value="65">65</mat-option>
             <mat-option value="70">70</mat-option>
             <mat-option value="75">75</mat-option>
          </mat-select>
           <mat-error>
             Please enter value between 1-75
           </mat-error>
       </mat-form-field>

       </div>

     <div *ngIf="custom">
       <mat-form-field>
         <mat-label>Interval in seconds</mat-label>
         <input type='number' min="1" max="75" matInput formControlName="seconds" required>
         <mat-error  >
           Please enter value between 1-75
         </mat-error>
     </mat-form-field><br><br>
     <span class="note">Note: For New Stack, Enter values <b> only</b> in multiples of 5.</span>
     </div>

       <br><br><br>
       <button class="btn-set" mat-raised-button [disabled]="!scanningForm.valid"  color="primary">Submit</button>
     </form>
    </mat-card-content>
  </mat-card>



  <mat-card>
    <mat-card-title>
      Merging Count
    </mat-card-title>
    <mat-card-subtitle>
     Enter count
    </mat-card-subtitle><br>
    <mat-card-content>

      <form [formGroup]="scanCountForm" (ngSubmit)="onSubmitScanCountForm(scanCountForm.value)" >
        <mat-form-field  >
            <mat-label>Count</mat-label>
            <input type='number' min="0" max="253" matInput formControlName="count" required>
            <mat-error  >
              Please enter value between 0-253
            </mat-error>
        </mat-form-field>
        <br><br><br>
        <button class="btn-set" mat-raised-button [disabled]="!scanCountForm.valid"  color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Gateway Data Rate
    </mat-card-title>
    <mat-card-subtitle>
     Enter gateway data rate
    </mat-card-subtitle><br>
    <mat-card-content>

      <form [formGroup]="sendDataForm" (ngSubmit)="onSubmitSendDataForm(sendDataForm.value)" >
        <mat-form-field>
            <mat-label>Data rate per second</mat-label>
            <input type='number' min="1" max="255" matInput formControlName="rate" required>
            <mat-error  >
              Please enter value between 1-255
            </mat-error>
        </mat-form-field>
        <br><br><br>
        <button class="btn-set" mat-raised-button [disabled]="!sendDataForm.valid"  color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
    <!-- <mat-card>
        <mat-card-title>
          Define Minimum Distance
        </mat-card-title>
        <mat-card-subtitle>
          Enter minimum distance for user in meter
        </mat-card-subtitle>
        <mat-card-content>
          <mat-slide-toggle color="primary" [checked]="statusCustomise" (change)="customise()">Customize</mat-slide-toggle>
          <br><br>

          <form [formGroup]="distanceForm" (ngSubmit)="onSubmitDistanceForm(distanceForm.value)">
            <mat-radio-group  color="primary" formControlName="wearable">
            <mat-radio-button [value]="1" name="small" [checked]="this.selectStatus1" (change)="onclick($event)" >Pendant</mat-radio-button>
            <mat-radio-button [value]="2" name="small" [checked]="this.selectStatus2" (change)="onclick($event)"  >Band</mat-radio-button>
          </mat-radio-group><br>
            <mat-form-field>
              <mat-label>Select distance</mat-label>

               <div >
                <mat-select formControlName="distance" (selectionChange)="changeDistance($event)" required>
                  <mat-option value="1">
                    1 meter
                  </mat-option>
                  <mat-option value="2">
                    2 meter
                  </mat-option>
                  <mat-option value="3">
                    3 meter
                  </mat-option>
                </mat-select>
               </div>
               <div *ngIf="selectedValue==true">
                <mat-select formControlName="distance" (selectionChange)="changeDistance($event)" required>
                  <mat-option value="1">
                    1 meter
                  </mat-option>
                  <mat-option value="2">
                    2 meter
                  </mat-option>
                  <mat-option value="3">
                    3 meter
                  </mat-option>
                </mat-select>
               </div>


            </mat-form-field><br>
            <div *ngIf="statusCustomise">
              <mat-form-field>
                <input matInput placeholder="RSSI" formControlName="rssi"  required>
                <mat-error>
                  Please provide a valid RSSI
                </mat-error>
              </mat-form-field>
            </div>
            <br><br>
            <button class="btn-set"  mat-raised-button [disabled]="!distanceForm.valid" color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card> -->
      <mat-card >
        <mat-card-title>
          Define Proximity and Select Wearable Type
        </mat-card-title>
        <mat-card-subtitle>
          Enter minimum distance for user (in meter)
        </mat-card-subtitle>
        <mat-card-content>

          <form [formGroup]="distanceForm" (ngSubmit)="onSubmitDistanceForm(distanceForm.value)">

            <mat-radio-group  color="primary" formControlName="wearable"  class="wearable" (change)="customizeoff()">
              <mat-radio-button value="0" name="small" >Badge</mat-radio-button>
              <mat-radio-button value="1" name="small" >Band</mat-radio-button>
            </mat-radio-group><br>
      <!--
            <mat-radio-group  color="primary"   class="wearable" (change)=measurement($event)>
              <mat-radio-button value="meter" name="small" >Meter</mat-radio-button>
              <mat-radio-button value="feet" name="small" >Feet</mat-radio-button>
            </mat-radio-group><br> -->
            <mat-slide-toggle color="primary" [checked]="statusCustomise" (change)="customise($event)" formControlName="customize">Customize</mat-slide-toggle>
            <br> <br>
            <mat-form-field>

              <mat-label>Select distance</mat-label>
              <mat-select formControlName="distance"  required >

              <!-- <mat-select formControlName="distance" (selectionChange)="changeDistance($event)"  required > -->
                <mat-option value="1">
                  1 meter
                </mat-option>
                <mat-option value="2">
                  2 meter
                </mat-option>
                <mat-option value="3">
                  3 meter
                </mat-option>
              </mat-select>
      <!--
                <mat-select formControlName="distance" required *ngIf="!this.measureStatus">
                  <mat-option value="1">
                    1 meter
                  </mat-option>
                  <mat-option value="2">
                    2 meter
                  </mat-option>
                  <mat-option value="3">
                    3 meter
                  </mat-option>
                </mat-select>

                <mat-select formControlName="distance" required *ngIf="this.measureStatus">
                  <mat-option value="1">
                    3.28 feet
                  </mat-option>
                  <mat-option value="2">
                    6.56 feet
                  </mat-option>
                  <mat-option value="3">
                    9.84 feet
                  </mat-option>
                </mat-select> -->


            </mat-form-field><br>
            <div *ngIf="statusCustomise">
              <mat-form-field>
                <input matInput placeholder="RSSI" formControlName="rssi" >
                <mat-error>
                  Please provide a valid RSSI
                </mat-error>
              </mat-form-field>
            </div>
            <br><br>
            <button class="btn-set" mat-raised-button  color="primary" [disabled]="!distanceForm.valid">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          Define transmission power
        </mat-card-title>
        <mat-card-subtitle>
          Enter tx power
        </mat-card-subtitle><br>
        <mat-card-content>
          <form [formGroup]="txPowerForm" (ngSubmit)="onSubmittxPowerForm(txPowerForm.value)">
            <mat-form-field>
              <mat-label>Tx Power</mat-label>
              <mat-select formControlName="txPower" required>
                <mat-option value="120">
                  120 ft
                </mat-option>
                <mat-option value="100">
                  100 ft
                </mat-option>
                <mat-option value="80">
                  80 ft
                </mat-option>
                <mat-option value="60">
                  60 ft
                </mat-option>
                <mat-option value="40">
                  40 ft
                </mat-option>
                <mat-option value="30">
                  30 ft
                </mat-option>
                <mat-option value="25">
                  25 ft
                </mat-option>
                <mat-option value="20">
                  20 ft
                </mat-option>
                <mat-option value="15">
                  15 ft
                </mat-option>
                <mat-option value="10">
                  10 ft
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br><br>
            <div>
              <span class="flex warning">&nbsp;&nbsp;<mat-icon class="warn">warning</mat-icon>Critical Warning: Before changing this setting please contact SenseGiz team.</span>
            </div><br><br>
            <button class="btn-set" mat-raised-button [disabled]="!txPowerForm.valid" color="primary">Submit</button>
          </form>

        </mat-card-content>
      </mat-card>


      <mat-card>
        <mat-card-title>
          Define Response Time
        </mat-card-title>
        <mat-card-subtitle>
          Enter response time for the wearable
        </mat-card-subtitle> <br>
          <mat-card-content>

          <form [formGroup]="timeForm" (ngSubmit)="onSubmitTimeForm(timeForm.value)" >
            <!-- <div *ngIf="!minStatus"> -->
            <mat-form-field>

                <mat-label>Minutes</mat-label>
                <mat-select  formControlName="minutes"  (selectionChange)="getMin($event)" [required]="requiredStatus1">
                  <mat-option *ngFor="let a of min"  [value]="a" [disabled]="this.timeForm.get('seconds').value <=55">{{a}}</mat-option>
                </mat-select>

               <mat-error *ngIf="!minStatus">
                Please select minimum minutes as 1
              </mat-error>
            </mat-form-field>
          <!-- </div> -->
          <!-- <div *ngIf="!secStatus"> -->
            <mat-form-field>

              <mat-label>Seconds</mat-label>
              <mat-select  formControlName="seconds" (selectionChange)="getSec($event)" [required]="requiredStatus2"   >
                <mat-option *ngFor="let b of sec" [value]="b" [disabled]="this.timeForm.get('minutes').value <=5">{{b}}</mat-option>
              </mat-select>

             <mat-error *ngIf="!secStatus">
              Please select minimum second as 1
            </mat-error>
        </mat-form-field>
      <!-- </div> -->
            <br><br>
            <button class="btn-set" mat-raised-button [disabled]="timeFormStatus"  color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>

       <mat-card>
        <mat-card-title>
          Define Shift Time
        </mat-card-title>
        <mat-card-subtitle>
          Enter time for each shift
        </mat-card-subtitle>
        <mat-card-content class="shift">
          <mat-error *ngIf="multipleShift">
            You cannot have multiple shift, to update shift click info
          </mat-error>
          <mat-error *ngIf="timeExceed">
            Time range should be minimum 09 hours.
          </mat-error>
          <form [formGroup]="workingForm" (ngSubmit)="onSubmitWorkForm(workingForm.value)">
            <mat-form-field>
              <mat-label>Shift Name</mat-label>
              <mat-select formControlName="shift" required>
                <mat-option value="general">General</mat-option>
                <mat-option value="morning">Morning</mat-option>
                <mat-option value="evening">Evening</mat-option>
                <mat-option value="night">Night</mat-option>
              </mat-select>
             <!--  <input matInput placeholder="Shift name" formControlName="shift"  required>
             <mat-error>
                Please provide a valid shift name
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input type='time' matInput placeholder="From time" formControlName="fromTime" required>
              <mat-icon matPrefix >schedule</mat-icon>
              <mat-error>
                Please provide a valid from time
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input  type='time' matInput  placeholder="To time" formControlName="toTime" required >
              <mat-icon matPrefix >schedule</mat-icon>
              <mat-error>
                Please provide a valid to time
              </mat-error>
            </mat-form-field><br> <br> <br>
            <span  class="spanbtton">
              <button  mat-raised-button [disabled]="!workingForm.valid" color="primary">Submit</button> &nbsp;&nbsp;&nbsp;
              <button type="button" mat-raised-button (click)="openDialog()" color="primary">Info</button>
            </span>
          <!--  <div class="btn-set">
            <button  mat-raised-button [disabled]="!workingForm.valid" color="primary">Submit</button> &nbsp;&nbsp;&nbsp;
            <button type="button" mat-raised-button (click)="openDialog()" color="primary">Info</button>
           </div> -->
          </form>
        </mat-card-content>
      </mat-card>
      <!-- --------------------------------- -->
      <mat-card>
        <mat-card-title>
          Multishift Select
        </mat-card-title>
        <!-- <mat-card-subtitle>
          Enter coin name and maximum limit
        </mat-card-subtitle> -->
         <br>

        <mat-card-content>
          <br>

          <form [formGroup]="multishiftingselect" (ngSubmit)="onMultiShiftselect(multishiftingselect.value)" >
            <mat-radio-group  color="primary" formControlName="status"  class="wearable">
              <mat-radio-button style="margin-left: -10px !important;"  value="1" name="small" >Enable</mat-radio-button>
              <mat-radio-button  style="margin-left: -35px !important;" value="0" name="small" >Disable</mat-radio-button>
            </mat-radio-group><br>
            <mat-radio-group  color="primary" formControlName="type"  class="wearable" >
              <mat-radio-button  value="1" name="small"  (change)="selectfinds($event)">All</mat-radio-button>
              <mat-radio-button value="2" name="small" (change)="selectfinds($event)">Specific Finds</mat-radio-button>
            </mat-radio-group><br>
            <mat-form-field *ngIf="(multishiftingselect.get('status').value == 1 && (multishiftingselect.get('type').value == 1 || multishiftingselect.get('type').value == 2))">
              <mat-label>Shift Name*</mat-label>
              <mat-select formControlName="shiftName" name="shiftName" (click)="shiftnameselsect()" >
                <mat-option *ngFor="let b of multishift" [value]="b">
                  {{b.shiftName}}
                </mat-option>
              </mat-select>
             <!--  <mat-error>Please Create Shift</mat-error> -->
          </mat-form-field>
          <p *ngIf="multishiftingselect.get('status').value == 1" style="font-size: 12px;color:red;margin-top: -17px;margin-left: -80px;">{{shiftName}}</p>
          <mat-form-field class="full-width-input" *ngIf="(multishiftingselect.get('type').value == 2 && multishiftingselect.get('status').value == 1 || multishiftingselect.get('type').value == 2 && multishiftingselect.get('status').value == 0)">
            <mat-label>Device Id</mat-label>
            <input type='text' matInput  formControlName="deviceId" [matAutocomplete]="auto"  (keyup)="userSuggestion($event)" >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of username" [value]="user.deviceId">
                {{user.deviceId}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
            <div class="maxlimit">
            </div>
              <br><br>
              <span  class="spanbtton">
                <button mat-raised-button
                [disabled]="!multishiftingselect.valid ||
                 (multishiftingselect.get('status').value && multishiftingselect.get('type').value ==2 && multishiftingselect.get('deviceId').value =='') "
                 color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" mat-raised-button (click)="openDialog1()"  color="primary">Info</button>
              </span>
         <!--    <div  class="btn-set">
              <button mat-raised-button [disabled]="!multishiftingselect.valid"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
              <button type="button" mat-raised-button (click)="openDialog1()"  color="primary">Info</button>
            </div> -->

            </form>
        </mat-card-content>

      </mat-card>
      <!-- -------------------------------------- -->
      <mat-card>
        <mat-card-title>
          Erase Shift
        </mat-card-title>

         <br>

        <mat-card-content>
          <br>

          <form [formGroup]="eraseshiftselsect" (ngSubmit)="oneraseshiftselect(eraseshiftselsect.value)" >
          <!--   <mat-radio-group  color="primary" formControlName="status"  class="wearable">
              <mat-radio-button style="margin-left: -10px !important;" value="1" name="small" >Enable</mat-radio-button>
              <mat-radio-button  style="margin-left:-20px !important;"value="0" name="small" >Disable</mat-radio-button>
            </mat-radio-group><br> -->

         <!--   <mat-radio-group  color="primary" formControlName="eraseShift"  class="wearable">

              <mat-radio-button style="margin-left: -30px !important;" value="0" name="small">Erase</mat-radio-button>

            </mat-radio-group><br> -->
            <mat-radio-group  color="primary" formControlName="type"  class="wearable" >
              <mat-radio-button value="1" name="small">All</mat-radio-button>
              <mat-radio-button value="2" name="small">Specific Finds</mat-radio-button>
            </mat-radio-group><br>
            <div hidden>
              <mat-form-field>
                <mat-label>Shift Name</mat-label>
                <mat-select formControlName="shiftName" name="shiftName">
                  <mat-option *ngFor="let b of multishift" [value]="b">
                    {{b.shiftName}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
          <mat-form-field class="full-width-input" *ngIf="(eraseshiftselsect.get('type').value == 2)">
            <input type='text' matInput placeholder="Device Id" formControlName="deviceId" [matAutocomplete]="auto"  (keyup)="userSuggestion($event)" >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of username" [value]="user.deviceId">
                {{user.deviceId}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              Please provide a valid user name
            </mat-error>
          </mat-form-field>
            <div class="maxlimit">
            </div>
              <br><br>
              <span  class="spanbtton">
                <button mat-raised-button [disabled]="!eraseshiftselsect.valid || (eraseshiftselsect.get('type').value ==2 && eraseshiftselsect.get('deviceId').value=='') "  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" mat-raised-button (click)="openDialog2()"  color="primary">Info</button>
              </span>
           <!--  <div  class="btn-set">
              <button mat-raised-button [disabled]="!eraseshiftselsect.valid"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
              <button type="button" mat-raised-button (click)="openDialog1()"  color="primary">Info</button>
            </div>
 -->
            </form>
        </mat-card-content>

      </mat-card>
      <!-- ---------------------------------- -->
      <mat-card>
        <mat-card-title>
          Temperature Streaming Period
        </mat-card-title>
        <!-- <mat-card-subtitle>
          Enter buffer value for the wearable
        </mat-card-subtitle> -->
        <br>
        <mat-card-content>
          <form [formGroup]="temperaturehrsmin" (ngSubmit)="onSubmittemperaturehoursmints(temperaturehrsmin.value)">
            <mat-form-field>
              <mat-label>Hours</mat-label>
              <mat-select formControlName="tempPeriodhours" required>
                <mat-option value="0">0</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
                <mat-option value="7">7</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="9">9</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="11">11</mat-option>
                <mat-option value="12">12</mat-option>
                <mat-option value="13">13</mat-option>
                <mat-option value="14">14</mat-option>
                <mat-option value="15">15</mat-option>
                <mat-option value="16">16</mat-option>
                <mat-option value="17">17</mat-option>
                <mat-option value="18">18</mat-option>
                <mat-option value="19">19</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="21">21</mat-option>
                <mat-option value="22">22</mat-option>
                <mat-option value="23">23</mat-option>
                <mat-option value="24">24</mat-option>
                <mat-option value="24">25</mat-option>
                <mat-option value="26">26</mat-option>
                <mat-option value="27">27</mat-option>
                <mat-option value="28">28</mat-option>
                <mat-option value="29">29</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="31">31</mat-option>
                <mat-option value="32">32</mat-option>
                <mat-option value="33">33</mat-option>
                <mat-option value="34">34</mat-option>
                <mat-option value="35">35</mat-option>
                <mat-option value="36">36</mat-option>
                <mat-option value="37">37</mat-option>
                <mat-option value="38">38</mat-option>
                <mat-option value="39">39</mat-option>
                <mat-option value="40">40</mat-option>
                <mat-option value="41">41</mat-option>
                <mat-option value="42">42</mat-option>

              </mat-select>
             <!--  <input matInput placeholder="Shift name" formControlName="shift"  required>
             <mat-error>
                Please provide a valid shift name
              </mat-error> -->
            </mat-form-field>
            <mat-form-field>
              <mat-label>Minutes</mat-label>
              <mat-select formControlName="tempPeriodminutes" required>
                <mat-option value="0">0</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="30">30</mat-option>
                <mat-option value="40" *ngIf="(temperaturehrsmin.get('tempPeriodhours').value != 42)">40</mat-option>
                <mat-option value="50" *ngIf="(temperaturehrsmin.get('tempPeriodhours').value != 42)">50</mat-option>
              </mat-select>
             <!--  <input matInput placeholder="Shift name" formControlName="shift"  required>
             <mat-error>
                Please provide a valid shift name
              </mat-error> -->
            </mat-form-field>

            <br><br><br>
            <button class="btn-set" mat-raised-button  color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>
      <!-- ---------------------------------------------------------------------- -->
      <!--
 <mat-card>
        <mat-card-title>
          Multishift Select
        </mat-card-title>

        <br>

        <mat-card-content>
          <br>

          <form [formGroup]="multishiftingselect" (ngSubmit)="onMultiShiftselect(multishiftingselect.value)" >
            <mat-radio-group  color="primary" formControlName="status"  class="wearable">
              <mat-radio-button style="margin-left: -10px !important;"  value="1" name="small" >Enable</mat-radio-button>
              <mat-radio-button  style="margin-left: -35px !important;" value="0" name="small" >Disable</mat-radio-button>
            </mat-radio-group><br>
            <mat-radio-group  color="primary" formControlName="type"  class="wearable" >
              <mat-radio-button  value="1" name="small">All</mat-radio-button>
              <mat-radio-button value="2" name="small">Specific Finds</mat-radio-button>
            </mat-radio-group><br>
            <mat-radio-group  color="primary" formControlName="eraseShift"  class="wearable" *ngIf="(multishiftingselect.get('status').value==1 && (multishiftingselect.get('type').value==1 || multishiftingselect.get('type').value==2) )" >
              <mat-radio-button  value="0" name="small">Select Shift</mat-radio-button>
              <mat-radio-button value="1" name="small" [hidden]="(multishiftingselect.get('type').value ==2)" (change)="selectfinds($event)">Earse</mat-radio-button>
              <mat-radio-button value="2" name="small"  *ngIf="(multishiftingselect.get('type').value ==2)" (change)="selectfinds($event)">Ersanshift</mat-radio-button>
            </mat-radio-group><br>
            <div *ngIf="(multishiftingselect.get('eraseShift').value == 0)">
              <mat-form-field [hidden]="(multishiftingselect.get('eraseShift').value == 1 ||multishiftingselect.get('eraseShift').value == 2)">
                <mat-label>Shift Name</mat-label>
                <mat-select formControlName="shiftName" name="shiftName">
                  <mat-option *ngFor="let b of multishift" [value]="b">
                    {{b.shiftName}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

          <mat-form-field class="full-width-input" *ngIf="(multishiftingselect.get('type').value == 2 && multishiftingselect.get('status').value == 1 || multishiftingselect.get('type').value == 2 && multishiftingselect.get('status').value == 0)">
            <input type='text' matInput placeholder="Device Id" formControlName="deviceId" [matAutocomplete]="auto"  (keyup)="userSuggestion($event)" >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of username" [value]="user.deviceId">
                {{user.deviceId}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              Please provide a valid user name
            </mat-error>
          </mat-form-field>
            <div class="maxlimit">
            </div>
              <br><br> <br><br><br>
              <span  class="spanbtton">
                <button mat-raised-button [disabled]="!multishiftingselect.valid || (multishiftingselect.get('shiftName').value == '' )"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" mat-raised-button (click)="openDialog1()"  color="primary">Info</button>
              </span>


            </form>
        </mat-card-content>

      </mat-card>







       -->
       <mat-card>
        <mat-card-title>
         Find On / Off
        </mat-card-title>

        <mat-card-content>
          <form [formGroup]="onffbutton" (ngSubmit)="onSubmitonoff(onffbutton.value)">
          <!--   <mat-slide-toggle color="primary" [checked]="false" formControlName="onoff" (change)="onoffeven($event)" ></mat-slide-toggle> -->

            <br><br>
            <mat-slide-toggle color="primary" [checked]="onoffselsect.value" formControlName="onOff" (change)="onoffeven($event)" >{{onoffselsect.status}}</mat-slide-toggle>
            <button class="btn-set" mat-raised-button [disabled]="!onffbutton.valid" color="primary">Submit</button>
          </form>
        </mat-card-content>
      </mat-card>

<mat-card>
  <mat-card-title>
    Mesh ID
  </mat-card-title>
  <mat-card-subtitle>
    Enter gateways and mesh id
  </mat-card-subtitle> <br>
  <mat-card-content>
    <form [formGroup]="meshForm" (ngSubmit)="onSubmitmeshForm(meshForm.value)" >
      <mat-form-field  >
          <mat-label>Gateways</mat-label>
          <mat-select  formControlName="gatewayId" multiple required>
            <mat-option *ngFor="let gateways of gatWaysData" [value]="gateways.gatewayId">{{gateways.gatewayId}}</mat-option>
          </mat-select>
          <mat-error>
            Please provide a gateways
          </mat-error>
      </mat-form-field>
    <div class="maxlimit" >
      <mat-form-field>
        <input type='number' min="0" max='255'  matInput placeholder="Mesh ID" formControlName="meshId"  required>
        <mat-error>
          Please provide a mesh Id from 0-255
        </mat-error>
      </mat-form-field>
    </div>
      <br>
    <div class="btn-set-grp">
      <button mat-raised-button [disabled]="!meshForm.valid"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
    </div>
    </form>
    </mat-card-content>
</mat-card>

</div>

