<div class="container-fluid  guide">
  <div>
    <p class="heading">Social Distancing User Manual</p> <hr>
  </div
  >
  <div>
    <p>1. <u><b><span>LOGIN PAGE</span></b></u></p>
    <div class="center"> <img src="./assets/image/loginpage.PNG" alt=""></div>
    <ul>
      <li>Open a browser and search for <a  routerLink="/login" target="_blank">http://sdcta.sensegiz.com/login</a>. The user will be directed to the
        login page where the user has to enter the credentials provided to them. </li>
    </ul>

  </div>

  <div>
    <p><span><b>2. <u>HOME PAGE</u></b></span></p>
    <div class="center"><img src="./assets/image/homepage.PNG" alt=""></div>
    <ul>
      <li><span>The homepage displays an overall statistical data of all registered users and among
        them how many are active currently and how many have been marked as infected. </span>  </li>

      <li><span>On clicking <b>Active users</b>, the admin can get the list of currently registered users and
        the admin can click on <b>Infected Users </b> to get a list of all the users who have been
        marked infected. </span></li>

      <li> <span>In <b>Registered users</b>, the admin can get a report of any particular user by selecting the
        name of the user that is available in the registered users list. </span></li>
      <li><span>Color coding for Registered users section is
        <ol>
          <li><span>Green: The last sync is less than a day.</span></li>
          <li><span>Yellow: The last sync is within 1-2 days.</span></li>
          <li><span>Orange or Red: The last sync is more than 2 days.</span></li>
        </ol>
      </span>
    </li>
      <li> <span>The User can also view the present configurations set for <b>Minimum Social Distance</b>
        and <b>Automatic alert</b> that the admin has set to receive as soon as a user violates social
        distancing more than the set amount of times.</span></li>
      <li><span>The <b>Frequent violators</b> section displays the user with the maximum number of
        interactions they had with other users on that particular day. If a user crosses the
        maximum limit set in the <b>Automatic alert</b>, the admin will get an immediate alert.
        Additionally, a provision has been given to the admin to send a warning to the
        individual user if they click on the send warning button.
        </span> </li>
      <li> <span>The <b>Number of contacts</b> Graph will display the day-wise graphical data which
        represents the total number of social distancing violations that happened for the past
        10 days. The admin can also take a print out of the report or can save it as a JPEG or
        PNG. </span></li>
        <li><span>The users who violate Social Distancing for a maximum duration with other users
          even after getting an alert are displayed under <b>Maximum contact time</b>. </span></li>
    </ul>

  </div>

  <div>
    <p><span><b>3. <u>MANAGE PEOPLE</u></b></span> </p>
    <div class="center"><img src="./assets/image/mangefinds.PNG" alt=""></div>
    <div>
      <ol>● In Manage people tab there are three sections
        <li><b>Manage Finds</b>
          <ul>
            <li><span>
              The admin can view the details of all the registered users and the <b>FIND ID</b> that
               is assigned to the user </span>

            </li>
            <li>
              <span>Most importantly, the admin will be able to mark a user as infected if he/she is
                found to be infected after a few days.</span>

            </li>
            <li><span>The admin can also reuse the same <b>FIND</b> for a different person by selecting the
              edit option and <b>update</b> the details of the user. </span></li>
              <li><span>The admin can update the shift details of a particular user by selecting the <b>Shift</b>
                dropdown box.</span>
                <div class="center"><img src="./assets/image/shifts.PNG" alt=""></div>

              </li>
             <li><span>Using the <b>Add FINDs</b> option, the admin will be able to add a new <b>FIND</b> to the
              existing system and assign it to a user. </span></li>
              <li><span>The admin can use the search option to view, edit or delete any particular user. </span></li>
              <li><span>The admin can also view the FIND battery status of each user. </span></li>
              <li><span>Color coding for battery status is
                <ol>
                  <li><span>Green: High.</span></li>
                  <li><span>Yellow: Medium.</span></li>
                  <li><span>Red: Low.</span></li>
                </ol>
              </span>
            </li>

           </ul>
        </li>
        <li>
          <b>Manage Gateways</b>
          <ul>
            <li><span>The admin can view the registered Gateways, edit them and can also add new
              Gateway using the <b>Add Gateways</b> option.
              </span></li>
              <li><span>The <b>search option </b> can be used to find details of any particular Gateway. </span>
               </li>

          </ul>

        </li>
        <div class="center"><img src="./assets/image/gateway.PNG" alt=""></div>
        <li>
          <b>Manage Users.</b>
          <ul>
            <li><span>The admin can view or edit the details of the Authorized people who will
              receive social distancing violators and inactivity alerts</span></li>
              <li><span>The admin can also add new users to receive the alert using the <b>Add Users</b>
                option.  </span>
                <div class="center"><img src="./assets/image/users.PNG" alt=""></div>
              </li>
          </ul>
        </li>


      </ol>
    </div>
  </div>

  <div>
  <p><b>4. <u>SOCIAL DISTANCING</u></b></p>
  <div class="center"><img src="./assets/image/liveData.PNG" alt=""></div>
  <ul>
    <li><span>The admin can get the details of users who have violated social distancing for that
      particular day along with the exact time of contact in the <b>Live data</b> tab.</span></li>
      <li><span>The admin can also view the previous day data by clicking the button at the top left</span></li>
  </ul>
  </div>
  <div>
    <p><b>5. <u>HISTORY</u></b></p>
    <div class="center"><img src="./assets/image/historypage.PNG" alt=""></div>
    <ul>
      <li><span>The admin can get reports of social distance violations by all the users for a
        particular day or a week or month or whichever time frame that the admin wants the
        report using the <b>Report based on Date</b> tab.</span>
        <div class="center"><img src="./assets/image/history.PNG" alt=""></div></li>
        <li><span>The admin can also get a report for a selected user between two different dates using
          the <b>Report based on the User Name</b> tab.</span>
          <div class="center"><img src="./assets/image/usernameRep.PNG" alt=""></div>
        </li>
        <li><span>The admin can get a summary report for selected Infected Users</span>
          <div class="center"><img src="./assets/image/summary1.PNG" alt=""></div>
        </li>
    </ul>
  </div>


  <div>
    <p><b>5. <u>SETTINGS</u> </b></p>
    <div class="center"><img src="./assets/image/settings.PNG" alt=""></div>
    <ul>
      <li><span>The admin can define Shift timings of a company using the <b>Define Working Shifts</b>
        tab. </span></li>
      <li><span>The admin can also change the minimum distance after which the device should start
        beeping or should be considered as social distancing is violated using the <b>Define
          minimum distance</b> tab. </span></li>
      <li><span>The minimum distance can be changed between 1, 2 or 3meters and the admin can
        contact the <b>SenseGiz</b> team for customized distance. </span></li>
        <li><span>The admin can <b>Define maximum contact threshold</b>, beyond which the admin will
          receive an alert if anyone is frequently violating social distancing.
          </span></li>
        <li><span>The admin can change the range of <b>FIND</b> by making use of the transmission power option.  </span>
        <span style="color:'red'">Note: Before changing the transmission power please contact the SenseGiz team. </span></li>
        <li><span>The admin can receive an alert if any user is inactive for a set time by enabling the
          <b>Define Inactivity</b> option and entering the inactivity time.
          </span></li>
        <li><span>The admin can set a minimum threshold after which the data will be synced to the
          cloud. </span></li>
            <li>
            <span>
              Alert configuartion:the admin can select the alert configuartion type among following options
            </span>
            </li>
            <ol>
              <li>10 seconds buzzer followed by LED blinking throughout the course of interaction. For a new event with the same user, the previously mentioned behaviour will again repeat.</li>
              <li>Only LED will blink throughout the course of interaction.</li>
              <li>Only Buzzer will beep throughout the course of interaction.</li>
              <li>10 Seconds buzzer followed by LED throughout the course of interaction.Thereafter, for a new event with the same user, only LED will blink throughout the course of interaction.</li>
              <li>10 seconds initial buzzer after which Buzzer will periodically repeat after every set interval with LED indication in between the buzzer period.</li>
            </ol>


    </ul>
  </div>
</div>


























<!-- <div class="pdf-container">
  <p>hii</p>
    <pdf-viewer [src]="src"
                [original-size]="false"
                [render-text]="true"
                style="display: block;"
    ></pdf-viewer>
  </div>
  <pdf-viewer
  [src]="src"
  [(page)]="page"
  [rotation]="rotation"
  [original-size]="originalSize"
  [fit-to-page]="fitToPage"

  [zoom]="zoom"
  [show-all]="showAll"
  [stick-to-page]="stickToPage"
  [render-text]="renderText"
  [external-link-target]="'blank'"
  [autoresize]="autoresize"


></pdf-viewer> -->
