.item{
	display: flex;
	justify-content: space-evenly;
}
button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary.ng-star-inserted {
    height: 2.1rem;
}
p.center{
  color: #ef6c00;
  font-size: 2rem;
  font-weight: 500;
  font-family: serif;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;

}