


<div>

	<h1 class="head">Add users</h1>
	<hr class="main">

	<div class="flex1">
		<mat-card class="sub">
			<mat-card-title>Add Users Details</mat-card-title>
			<mat-card-content>
				<mat-error *ngIf="registered">
					User already exist
				</mat-error>

				 <form [formGroup]="subAddUserform" (ngSubmit)="onSubmit(subAddUserform.value)">
					 <mat-form-field appearance="fill">
						<mat-label>User type</mat-label>
						<mat-select  formControlName="type" required>
							<mat-option *ngFor="let a of userType" [value]="a.value">
								{{a.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="full-width-input" *ngIf="subAddUserform.get('type').value==4">
					  <input matInput placeholder="Department" formControlName="department" required>
					  <mat-error>
						Please provide a valid department
					  </mat-error>
					</mat-form-field>


					<mat-form-field class="full-width-input">
					  <input matInput placeholder="Email" formControlName="subUserName" required>
					  <mat-error>
						Please provide a valid email address
					  </mat-error>
					</mat-form-field>

					<div class="phone">
						<!-- <international-phone-number2  class="phoneNum" placeholder="Mobile number" [defaultCountry]="'in'" formControlName="mobileNum"
						autocomplete="false" aria-autocomplete="false" [required]="true">
						</international-phone-number2> <hr class="num"> -->
						<div class="wrapper intl-phone">
						 <ngx-intl-tel-input [cssClass]="'custom'"
							 [preferredCountries]="preferredCountries"
							 [enableAutoCountrySelect]="true"
							 [enablePlaceholder]="true"
							 [searchCountryFlag]="true"
							 [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
							 [selectFirstCountry]="true"
							 [selectedCountryISO]="CountryISO.India"
							 [maxLength]="15"
							 [tooltipField]="TooltipLabel.Name"
							 [phoneValidation]="true"
							 [separateDialCode]="false"
							 name="mobileNum"
							 formControlName="mobileNum">
						 </ngx-intl-tel-input>
						 <hr class="mob">
						 <mat-error *ngIf="subAddUserform.get('mobileNum').status=='INVALID'  && subAddUserform.get('mobileNum').touched==true" class="error" >
							 Please provide valid mobile number
							</mat-error>
					 </div>
					</div>

					<mat-form-field class="full-width-input">
					  <input matInput  placeholder="Portal Password" formControlName="portalPassword" matInput required >
					  <mat-error>
						<p 	matTooltip="Password must contain at least one lowercase letter, one uppercase letter, one number and special character,
						should be minimum of 8 characters and maximum 20 characters are allowed"
                        [matTooltipPosition]="'after'">Password Policy</p>

					  </mat-error>
					</mat-form-field> <br>

					<mat-form-field class="full-width-input">
						<input matInput  placeholder="Mobile Password" formControlName="mobilePassword" matInput required >
						<mat-error>
						<p 	matTooltip="Password must contain at least one lowercase letter, one uppercase letter, one number and special character,
						should be minimum of 8 characters and maximum 20 characters are allowed"
												[matTooltipPosition]="'after'">Password Policy</p>

						</mat-error>
					</mat-form-field>


					<mat-form-field class="full-width-input">
						<input matInput  placeholder="User Password" formControlName="userPassword" matInput required >
						<mat-error>
						<p 	matTooltip="Password must contain at least one lowercase letter, one uppercase letter, one number and special character,
						should be minimum of 8 characters and maximum 20 characters are allowed"
												[matTooltipPosition]="'after'">Password Policy</p>

						</mat-error>
					</mat-form-field><br>

					<button mat-raised-button [disabled]="!subAddUserform.valid" color="primary">Add user</button>
				  </form>
			</mat-card-content>
		</mat-card>

		<mat-card class="tab">
			<mat-card-content>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Sl no.</th>
							<th scope="col">User Name</th>
							<th scope="col">Type</th>
							<th scope="col">Department</th>
							<th scope="col">Mobile number</th>
							<th scope="col">Added on</th>
							<th scope="col">isDelete</th>
						</tr>
					</thead>

					<tr *ngFor="let a of subUser;let i = index">
						<td>{{i+1}}</td>
						<td>{{a.userName}}</td>
						<td *ngIf="a.type==2">Co. Admin</td>
						<td *ngIf="a.type==3">Normal User</td>
						<td *ngIf="a.type==4">Sub Admin</td>
						<td>{{a.department}}</td>
						<td>{{a.mobileNum}}</td>
          				<td>{{a.createdDate  | date : 'medium' : 'IST'}}</td>
						<td *ngIf="a.isDeleted=='N'"><mat-icon matListIcon (click)="delete(a)">done</mat-icon></td>
						<td *ngIf="a.isDeleted=='Y'"><mat-icon matListIcon (click)="delete(a)">clear</mat-icon></td>
					</tr>
				</table>
			</mat-card-content>
		</mat-card>
	</div>
</div>
