/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */


body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mat-paginator-range-actions {
  display: -webkit-inline-box !important;
  align-items: center;
}
.mat-paginator-range-label {
  /* margin: 0 32px 0 24px; */
  margin:0.6rem 0 0 0 !important;
}
.mat-icon {
   vertical-align: middle;
}

.icon-text {
    display: flex;
    align-items: center;
}
.flexWrap{
  display:flex;
  align-items: center;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}

hr {
    border: 1px solid #ef6c00;
}
tr {
    text-align: center;
}
.table thead th{
  vertical-align: middle !important;

 }
 a.canvasjs-chart-credit {
  display: none !important;
}


.statusFreeze{
  position:absolute;
  z-index:10000;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width:100vw;
  height:100vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  /* .container-fluid {
    width: 110%;
    margin-left: -2rem;
  } */
  /* .col-10 {
    max-width: 100% !important;
    flex: auto !important;
} */
a.canvasjs-chart-credit {
  display: none !important;
}

.cdk-overlay-pane{
  max-width: 95vw !important;
  width: 100% !important;
  margin-top: 4rem;
}
.mat-menu-panel{
  margin-top: -3.3rem !important;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  margin-left: 0.3rem;
}
.table thead th{
  vertical-align: middle !important;

 }
 th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
 
  padding: 1rem !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
 mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c278-1.ng-trigger.ng-trigger-transform.mat-drawer-over.ng-star-inserted.mat-drawer-opened {
  width: 60% !important;
  height:fit-content !important;
}
}
/* "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css" */
