
<div class="main-home">

  <div class="home">
    <div class="first">
      <mat-card>
        <mat-card-content>
          <div class="row tot-head">
            <span class="tot">
              <mat-icon >account_circle</mat-icon>&nbsp;&nbsp;User status
            </span><br>
            <span class="tot">
              <mat-label>Total number of users</mat-label> :
              <mat-label>{{totalEmp}}</mat-label>
              <br>
              <!-- <mat-label>Total Finds</mat-label> :
              <mat-label>{{totalEmp}}</mat-label> -->
            </span>
          </div><br><br>

          <div class="first-cont cursor">
            <div >
              Active<br>
              <circle-progress (click)="onlineUser()"
                class="circle"
                [percent]="onlineCount"
                [maxPercent]="onlineCount"
                [showUnits]="false"
                [showBackground] = "true"
                [backgroundColor]= "'#ef6c00'"
                [outerStrokeColor] = "'#ffffff'"
                [outerStrokeWidth] = 6
                [showInnerStroke] = false
                [radius] = 60
                [titleColor] = "'#ffffff'"
                [showSubtitle] = false
                [backgroundPadding] = 5
                [animation]="true"
                [animationDuration]="500"
                [startFromZero]="true"
                [responsive]="false"
              ></circle-progress>

            </div>
            <div >
              Offline <br>
              <circle-progress (click)="offlineUser()"
                class="circle"
                [percent]="offlineCount"
                [maxPercent]="offlineCount"
                [showUnits]="false"
                [showBackground] = "true"
                [backgroundColor]= "'#ef6c00'"
                [outerStrokeColor] = "'#ffffff'"
                [outerStrokeWidth] = 6
                [showInnerStroke] = false
                [radius] = 60
                [titleColor] = "'#ffffff'"
                [showSubtitle] = false
                [backgroundPadding] = 5
                [animation]="true"
                [animationDuration]="500"
                [startFromZero]="true"
                [responsive]="false"
              ></circle-progress>

            </div>
          </div>
          <div class="first-cont cursor">
            <div>
              Registered <br>
              <circle-progress (click)="activeUser()"
                class="circle"
                [percent]="activeEmp"
                [maxPercent]="activeEmp"
                [showUnits]="false"
                [showBackground] = "true"
                [backgroundColor]= "'#ef6c00'"
                [outerStrokeColor] = "'#ffffff'"
                [outerStrokeWidth] = 6
                [showInnerStroke] = false
                [radius] = 60
                [titleColor] = "'#ffffff'"
                [showSubtitle] = false
                [backgroundPadding] = 5
                [animation]="true"
                [animationDuration]="500"
                [startFromZero]="true"
                [responsive]="false"
              ></circle-progress>

            </div>

            <div>
              Infected <br>
              <circle-progress (click)="infectedUser()"
                class="circle"
                [percent]="infectedEmp"
                [maxPercent]="infectedEmp"
                [showUnits]="false"
                [showBackground] = "true"
                [backgroundColor]= "'#ef6c00'"
                [outerStrokeColor] = "'#ffffff'"
                [outerStrokeWidth] = 6
                [showInnerStroke] = false
                [radius] = 60
                [titleColor] = "'#ffffff'"
                [showSubtitle] = false
                [backgroundPadding] = 5
                [animation]="true"
                [animationDuration]="500"
                [startFromZero]="true"
                [responsive]="false"
              ></circle-progress>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <mat-card *ngIf="loginData.type!==3 && loginData.type!==4">
        <mat-card-content>
          <mat-icon >settings</mat-icon><br>

              <mat-card class="settingcard">
                <mat-card-content class="setting" routerLink="/settings">
                  <mat-label>  Minimum social distance</mat-label>
                  <mat-label>  {{setting?.distance}} meter</mat-label>
                  <mat-icon >keyboard_arrow_right</mat-icon>
                </mat-card-content>
              </mat-card><br>
              <mat-card class="settingcard" >
                <mat-card-content class="setting" routerLink="/settings">
                  <mat-label>Violation alert</mat-label>
                  <mat-label class="tab-set">{{setting?.threshold}}</mat-label>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </mat-card-content>
              </mat-card><br>
              <!-- <mat-card class="settingcard">
                <mat-card-content class="setting" routerLink="/settings">
                  <mat-label>Transmission power</mat-label>
                  <mat-label class="tab-set">{{setting?.txPower}} feet</mat-label>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </mat-card-content>
              </mat-card> -->
        </mat-card-content>
      </mat-card>

    </div>

    <div class="three">
      <mat-card>
        <mat-card-title>Frequent Violators</mat-card-title>
        <mat-card-content>
          <mat-card *ngFor="let data of contactDeviceMax; let i = index">
            <mat-card-content>
              <div class="tab-head">
                <span class="tab-emp">
                  <span><li></li></span>
                  <span class="emp-pad"><mat-icon >person_outline</mat-icon></span>
                  <span class="rec">
                    <span class="emp-pad">{{data.baseDeviceName}}</span>
                    <span class="emp-pad">{{data.totalCount}}</span>
                  </span>

                </span>
                <span class="tab-btn">
                  <button mat-raised-button class="btn" *ngIf="loginData.type!==3" (click)="sendWarning(data.id,data.totalCount)">Send warning</button>
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
        </mat-card>
    </div>

  </div>

  <div class="rowhome">
    <div class="second">
      <mat-card>
        <mat-card-content>
          <div id="chartContainer" style="height:300px; width: 100%;"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="four">
      <mat-card>
        <mat-card-title class="search-title">
          <span class="search-head">
             Cumulative time
          </span>
        </mat-card-title>
          <mat-card >
            <mat-card-content *ngFor="let data of contactTimeMax; let i = index">
              <div class="row">
                <div class="col-md-6">
                  <span class="max-emp">
                    <mat-icon>person_outline</mat-icon>&nbsp;
                    <mat-label>{{data.baseName}}</mat-label>
                  </span>
                </div>
                <div class="col-md-6">
                  <span class="max-prg">
                    <mat-label>Time : {{data.totTime}} hrs / {{data.totmin}} mins</mat-label>
                    <mat-progress-bar mode="determinate" [value]="data.totmin"></mat-progress-bar>
                  </span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
      </mat-card>
    </div>
  </div>
</div>
