

<div *ngIf="type=='finds'">

  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Edit Find Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>


  <mat-horizontal-stepper  #stepper >
    <form [formGroup]="Findform" >
      <mat-step >
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="User Name" formControlName="deviceName" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
          <ng-template matStepLabel>Fill out your Find Id</ng-template>
          <mat-form-field>
            <mat-label>Find Id</mat-label>
            <input type="number" matInput formControlName="deviceId" placeholder="Ex. 1" disabled required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>

      <mat-step >
        <ng-template matStepLabel>Fill out your Employee Id</ng-template>
        <mat-form-field>
          <mat-label>Employee Id</mat-label>
          <input type="text" matInput formControlName="empId" placeholder="Employee Id" >
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

      <mat-step >
        <ng-template matStepLabel>Fill out your Mobile Number</ng-template>
        <!-- <mat-form-field>
          <mat-label>Mobile Number</mat-label>
         <input type="text" matInput formControlName="mobileNum" >
         <mat-error>
          Please provide valid mobile number
        </mat-error>

        </mat-form-field> -->

        <international-phone-number2   placeholder="Mobile number" [defaultCountry]="'in'" formControlName="mobileNum"required='true' aria-autocomplete="false" >
        </international-phone-number2>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

      <mat-step >
        <ng-template matStepLabel>Fill out your Email Id</ng-template>
        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input type="email" matInput formControlName="emailId" placeholder="Ex. xyz@gmail.com">
          <mat-error>
            Please provide valid email id. Ex.xyz@gmail.com
          </mat-error>
        </mat-form-field> <br><br>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!Findform.valid" (click)="Findsubmit(Findform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>


</div>



<div *ngIf="type=='gateways'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Edit Gateway Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>



  <mat-horizontal-stepper  #stepper >
    <form [formGroup]="gatewayform" >
      <mat-step >
          <ng-template matStepLabel>Fill out your gateway nick name</ng-template>
          <mat-form-field>
            <mat-label>Gateway Nick Name</mat-label>
            <input matInput placeholder="User Name" formControlName="deviceName" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
          <ng-template matStepLabel>Fill out your Gateway Id</ng-template>
          <mat-form-field>
            <mat-label>Gateway Id</mat-label>
            <input  matInput formControlName="deviceId" placeholder="Ex. 1" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!gatewayform.valid" (click)="Gatewaysubmit(gatewayform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

</div>










<div *ngIf="type=='users'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Edit User Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>



  <mat-horizontal-stepper  #stepper >
    <form [formGroup]="userform" >
      <mat-step >
          <ng-template matStepLabel>Fill out user mobile number</ng-template>
          <!-- <mat-form-field>
            <mat-label>User Mobile number</mat-label>
            <input matInput  placeholder="Mobile number" formControlName="mobileNum" required>
            <mat-error>
              Please provide valid mobile number
            </mat-error>
          </mat-form-field> -->

          <international-phone-number2   placeholder="Mobile number" [defaultCountry]="'in'" formControlName="mobileNum"required='true' aria-autocomplete="false" >
          </international-phone-number2>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
      <mat-step >
        <ng-template matStepLabel>Fill out user email id</ng-template>
        <mat-form-field>
          <mat-label>User email Id</mat-label>
          <input matInput type='email' placeholder="Email" formControlName="emailId" required>
          <mat-error>
            Please provide valid email id. Ex.xyz@gmail.com
          </mat-error>
        </mat-form-field><br> <br>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!userform.valid" (click)="Usersubmit(userform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

</div>



<div *ngIf="type=='coins'">
  <div class="flexWrap space-between">
    <h2 mat-dialog-title>Edit coin Details</h2><button mat-button mat-dialog-close><mat-icon>clear</mat-icon></button>
  </div>



  <mat-horizontal-stepper  #stepper >
    <form [formGroup]="coinform" >
      <mat-step >
        <ng-template matStepLabel>Fill out coin Name</ng-template>
        <mat-form-field>
          <mat-label>Coin Name</mat-label>
          <input matInput type='text' placeholder="Coin Name" formControlName="coinName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step >
          <ng-template matStepLabel>Fill out coin Id</ng-template>
          <mat-form-field>
            <mat-label> Coin Id</mat-label>
            <input matInput  placeholder="coin Id" formControlName="coinId" disabled required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>

      <mat-step >
        <ng-template matStepLabel>Fill out your Gateway Id</ng-template>


          <mat-form-field>
             <mat-label>Gateway Id</mat-label>
             <mat-select   formControlName="gatewayId">
               <mat-option *ngFor="let b of gateway" [(value)]="b.gatewayId">
                 {{b.gatewayId}}
               </mat-option>
             </mat-select>
           </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!coinform.valid" (click)="coinsubmit(coinform.value)" >Done</button>
        </div>
      </mat-step>
    </form>
  </mat-horizontal-stepper>

</div>
