<marquee class=" marquee" behavior="" direction="left">Please contact support team before making any changes in settings</marquee>

<!-- <div class="marquee">
  <p >Please contact SenseGiz Team before making any changes in Settings</p>
</div> -->
<div class="setting">

  <mat-card (click)="contactTeam()">
    <mat-card-title>
       Define Buffer
    </mat-card-title>
    <mat-card-subtitle>
      Enter buffer value for the wearable
    </mat-card-subtitle><br>
    <mat-card-content>
      <form [formGroup]="bufferForm" (ngSubmit)="onSubmitBufferForm(bufferForm.value)">
        <mat-form-field>
          <input type='number' min="0" max="5" matInput placeholder="Buffer" formControlName="buffer" (input)="bufferval($event)" disbaled required>
          <mat-error >
            Please provide a valid buffer
          </mat-error>

        </mat-form-field>
        <mat-error class="bufferError" *ngIf="bufferValue">
         Maximum value you can set is 5
        </mat-error>

        <br><br><br>
        <button class="btn-set"  disabled mat-raised-button disabled color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card (click)="contactTeam()">
    <mat-card-title>
      Define Maximum Range
    </mat-card-title>
    <mat-card-subtitle>
     Enter maximum Coin to Find range
    </mat-card-subtitle><br>
    <mat-card-content>

      <form [formGroup]="maxDistanceForm" (ngSubmit)="onSubmitmaxDistanceForm(maxDistanceForm.value)" >
        <mat-form-field  >
            <mat-label>Enter Range</mat-label>
            <mat-select class="select-panel" formControlName="maxDistance"  required >
              <mat-option value="5">5</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="40">40</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="80">80</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
            <mat-error  >
              Please enter value
            </mat-error>
        </mat-form-field>
        <br><br><br>
        <button class="btn-set" mat-raised-button disabled  color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Define Violation Limit
    </mat-card-title>
    <mat-card-subtitle>
      Enter violation limit/day
    </mat-card-subtitle><br>
    <mat-card-content>
      <form [formGroup]="maxContactForm" (ngSubmit)="onSubmitmaxContactForm(maxContactForm.value)">
        <mat-form-field>
          <input type='number' min="0" matInput placeholder="Threshold" formControlName="threshold"  required>
          <mat-error>
            Please provide a valid threshold
          </mat-error>
        </mat-form-field>
        <br><br> <br>
        <button class="btn-set" mat-raised-button [disabled]="!maxContactForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>




<!--
  <mat-card>
    <mat-card-title>
      Define transmission power
    </mat-card-title>
    <mat-card-subtitle>
      Enter tx power
    </mat-card-subtitle><br>
    <mat-card-content>
      <form [formGroup]="txPowerForm" (ngSubmit)="onSubmittxPowerForm(txPowerForm.value)">
        <mat-form-field>
          <mat-label>Tx Power</mat-label>
          <mat-select formControlName="txPower" disabled required>
            <mat-option value="120">
              120 ft
            </mat-option>
            <mat-option value="100">
              100 ft
            </mat-option>
            <mat-option value="80">
              80 ft
            </mat-option>
            <mat-option value="60">
              60 ft
            </mat-option>
            <mat-option value="40">
              40 ft
            </mat-option>
            <mat-option value="30">
              30 ft
            </mat-option>
            <mat-option value="25">
              25 ft
            </mat-option>
            <mat-option value="20">
              20 ft
            </mat-option>
            <mat-option value="15">
              15 ft
            </mat-option>
            <mat-option value="10">
              10 ft
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br><br>
        <button mat-raised-button [disabled]="!txPowerForm.valid" color="primary">Submit</button>
      </form><br>
    <div>
      <span class="flex warning">&nbsp;&nbsp;<mat-icon class="warn">warning</mat-icon>Critical Warning: Before changing this setting please contact SenseGiz team.</span>
    </div>

    </mat-card-content>
  </mat-card>
 -->




<!-- <mat-card>
  <mat-card-title>
    Define Response Time
  </mat-card-title>
  <mat-card-subtitle>
    Enter response time for the wearable
  </mat-card-subtitle> <br>
    <mat-card-content>

    <form [formGroup]="timeForm" (ngSubmit)="onSubmitTimeForm(timeForm.value)" >

      <mat-form-field  >

          <mat-label>Minutes</mat-label>
          <mat-select  formControlName="minutes" [disabled]="minStatus" (selectionChange)="getMin($event)" [required]="requiredStatus1">
            <mat-option *ngFor="let a of min"  [value]="a">{{a}}</mat-option>
          </mat-select>

         <mat-error *ngIf="!minStatus">
          Please select minimum minutes as 1
        </mat-error>
      </mat-form-field>

      <mat-form-field  >

        <mat-label>Seconds</mat-label>
        <mat-select  formControlName="seconds"  [disabled]="secStatus" (selectionChange)="getSec($event)" [required]="requiredStatus2" >
          <mat-option *ngFor="let b of sec" [value]="b">{{b}}</mat-option>
        </mat-select>

       <mat-error *ngIf="!secStatus">
        Please select minimum second as 1
      </mat-error>
  </mat-form-field>

      <br><br>
      <button class="btn-set" mat-raised-button [disabled]="timeFormStatus"  color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card> -->


<mat-card>
  <mat-card-title>
     Over Crowding
  </mat-card-title>
  <mat-card-subtitle>
    Enter coin name and maximum limit
  </mat-card-subtitle> <br>
  <mat-card-content>

    <form [formGroup]="overCrowedForm" (ngSubmit)="onSubmitoverCrowedForm(overCrowedForm.value)" >
      <mat-form-field  >
          <mat-label>Coin Name</mat-label>
          <mat-select  formControlName="coinSelect" multiple required>
            <mat-option *ngFor="let coin of coinData" [value]="coin.coinId">{{coin.coinName}}</mat-option>
          </mat-select>
      </mat-form-field>
    <div class="maxlimit" >
      <mat-form-field>
        <input type='number' min="0"  matInput placeholder="Max Limit" formControlName="maxLimit"  required>
        <mat-error>
          Please provide a limit
        </mat-error>
      </mat-form-field>
    </div>
      <br><br> <br> <br>
    <div class="btn-set-grp">
      <button mat-raised-button [disabled]="!overCrowedForm.valid"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="button" mat-raised-button (click)="openOvercrowdDialog()" color="primary">Info</button>
    </div>

    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Group Over Crowding
  </mat-card-title>
  <mat-card-subtitle>
    Enter Group name, coin name and maximum limit
  </mat-card-subtitle>
  <mat-card-content>

    <form [formGroup]="groupByOverCrowedForm" (ngSubmit)="onSubmitGroupByOverCrowedForm(groupByOverCrowedForm.value)" >
      <mat-form-field>
        <input type='text'  matInput placeholder="Group Name" formControlName="groupName"  required>
        <mat-error>
          Please provide a name
        </mat-error>
      </mat-form-field>
      <mat-form-field  >
          <mat-label>Coin Name</mat-label>
          <mat-select  formControlName="coinSelect" multiple required >
            <mat-option *ngFor="let coin of coinData;let i= index" [value]="coin.coinId" [disabled]="(coin.isGroup=='Y')">{{coin.coinName}}</mat-option>
          </mat-select>
      </mat-form-field>
    <div class="maxlimit" >
      <mat-form-field>
        <input type='number' min="0"  matInput placeholder="Max Limit" formControlName="maxLimit"  required>
        <mat-error>
          Please provide a limit
        </mat-error>
      </mat-form-field>
    </div><br><br> <br>
    <div class="btn-set-grp">
      <button mat-raised-button [disabled]="!groupByOverCrowedForm.valid"  color="primary">Submit</button>&nbsp;&nbsp;&nbsp;
      <button type="button" mat-raised-button (click)="openGroupByOvercrowdDialog()" color="primary">Info</button>
    </div>

    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    Define Shift Time
  </mat-card-title>
  <mat-card-subtitle>
    Enter time for each shift
  </mat-card-subtitle>
  <mat-card-content class="shift" (click)="contactTeam()">
    <mat-error *ngIf="multipleshift">
      You cannot have multiple shift, to update shift click info
    </mat-error>
    <form [formGroup]="workingForm" (ngSubmit)="onSubmitWorkForm(workingForm.value)">
      <mat-form-field>
       <!--  <input matInput placeholder="Shift name" formControlName="shift" disabled  required>
        <mat-error>
          Please provide a valid shift name
        </mat-error> -->
        <mat-label>Shift Name</mat-label>
        <mat-select formControlName="shift" required>
          <mat-option value="general">General</mat-option>
          <mat-option value="morning">Morning</mat-option>
          <mat-option value="evening">Evening</mat-option>
          <mat-option value="night">Night</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input type='time' matInput placeholder="From time" formControlName="fromTime"   required>
        <mat-icon matPrefix >schedule</mat-icon>
        <mat-error>
          Please provide a valid from time
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input  type='time' matInput  placeholder="To time" formControlName="toTime"  required >
        <mat-icon matPrefix >schedule</mat-icon>
        <mat-error>
          Please provide a valid to time
        </mat-error>
      </mat-form-field><br> <br> <br>
     <div class="btn-set-grp">
      <button  mat-raised-button disabled color="primary">Submit</button> &nbsp;&nbsp;&nbsp;
      <button type="button" disabled mat-raised-button (click)="openDialog()" color="primary">Info</button>
     </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card (click)="contactTeam()">
  <mat-card-title>
    Define Proximity and Select Wearable Type
  </mat-card-title>
  <mat-card-subtitle>
    Enter minimum distance for user (in meter)
  </mat-card-subtitle>
  <mat-card-content>
    <!-- <mat-slide-toggle color="primary" [checked]="statusCustomise" (change)="customise()">Customize</mat-slide-toggle> -->
    <br>
    <form [formGroup]="distanceForm" (ngSubmit)="onSubmitDistanceForm(distanceForm.value)">
      <mat-radio-group  color="primary" formControlName="wearable"  class="wearable">
        <mat-radio-button value="0" name="small" >Badge</mat-radio-button>
        <mat-radio-button value="1" name="small" >Band</mat-radio-button>
      </mat-radio-group><br>
<!--
      <mat-radio-group  color="primary"   class="wearable" (change)=measurement($event)>
        <mat-radio-button value="meter" name="small" >Meter</mat-radio-button>
        <mat-radio-button value="feet" name="small" >Feet</mat-radio-button>
      </mat-radio-group><br> -->
      <mat-form-field>

        <mat-label>Select distance</mat-label>
        <mat-select formControlName="distance" required >
          <mat-option value="1">
            1 meter
          </mat-option>
          <mat-option value="2">
            2 meter
          </mat-option>
          <mat-option value="3">
            3 meter
          </mat-option>
        </mat-select>
<!--
          <mat-select formControlName="distance" required *ngIf="!this.measureStatus">
            <mat-option value="1">
              1 meter
            </mat-option>
            <mat-option value="2">
              2 meter
            </mat-option>
            <mat-option value="3">
              3 meter
            </mat-option>
          </mat-select>

          <mat-select formControlName="distance" required *ngIf="this.measureStatus">
            <mat-option value="1">
              3.28 feet
            </mat-option>
            <mat-option value="2">
              6.56 feet
            </mat-option>
            <mat-option value="3">
              9.84 feet
            </mat-option>
          </mat-select> -->


      </mat-form-field><br>
      <!-- <div *ngIf="statusCustomise">
        <mat-form-field>
          <input matInput placeholder="RSSI" formControlName="rssi"  disabled required>
          <mat-error>
            Please provide a valid RSSI
          </mat-error>
        </mat-form-field>
      </div> -->
      <br><br>
      <button class="btn-set" mat-raised-button  color="primary" disabled>Submit</button>
    </form>
  </mat-card-content>
</mat-card>





<!-- <mat-card>
  <mat-card-title>
   Wearable
  </mat-card-title>
  <mat-card-subtitle>
    Enter wearable
  </mat-card-subtitle><br>
  <mat-card-content>

    <form [formGroup]="wearableForm" (ngSubmit)="onSubmitwearableForm(wearableForm.value)" >
      <mat-form-field  >
          <mat-label>Wearbale is as </mat-label>
          <mat-select formControlName="wearable">
            <mat-option  value="0">Pendant</mat-option>
            <mat-option value="1">Band</mat-option>
          </mat-select>
          <mat-error>
            Please select wearable
          </mat-error>
      </mat-form-field>
      <br><br>
      <button class="btn-set" mat-raised-button [disabled]="!wearableForm.valid"  color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card> -->




<!-- <mat-card>
  <mat-card-title>
  Scanning Interval
  </mat-card-title>
  <mat-card-subtitle>
   Enter interval
  </mat-card-subtitle><br>
  <mat-card-content>

    <form [formGroup]="scanningForm" (ngSubmit)="onSubmitScanningForm(scanningForm.value)" >
      <mat-form-field  >
          <mat-label>Interval in seconds</mat-label>
          <input type='number' min="1" max="60" matInput formControlName="seconds" required>
          <mat-error  >
            Please enter value
          </mat-error>
      </mat-form-field>
      <br><br><br>
      <button class="btn-set" mat-raised-button [disabled]="!scanningForm.valid"  color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
 -->

<!-- <mat-card>
  <mat-card-title>
     Define Inactivity
  </mat-card-title>
  <mat-card-subtitle>
    Enter inactivity in minutes
  </mat-card-subtitle>
  <mat-slide-toggle color="primary" [checked]="inactivityStatusValue.value" (change)="inactivityChange($event)">{{inactivityStatusValue.status}}</mat-slide-toggle>
  <br>
  <mat-card-content>
    <form [formGroup]="inactivityForm" (ngSubmit)="onSubmitInactivityForm(inactivityForm.value)">
      <mat-form-field>
        <input type='number' min="0" max="120" matInput placeholder="Inactivity in minutes" formControlName="inactivity" required>
        <mat-error>
          Please provide a valid inactivity in minutes
        </mat-error>
      </mat-form-field>
      <br><br>
      <button class="btn-set" mat-raised-button [disabled]="!inactivityForm.valid" color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card> -->


  <mat-card>
      <mat-card-title>
      Two Step Authentication
      </mat-card-title>
      <!-- <mat-card-subtitle>
        Enable or Disable two step authentication
      </mat-card-subtitle><br> -->
      <mat-card-content>
        <mat-slide-toggle class="toggle" color="primary" [checked]= "twoStepAuthStatus.status" (change)="twoStepAuthchange($event)">
          {{twoStepAuthStatus.value}}
        </mat-slide-toggle>
        <br><br> <br>
        <button class="btn-set" mat-raised-button (click)="onSubmitTwoAuth(twoStepAuthStatus.status)" color="primary">Submit</button>
      </mat-card-content>
  </mat-card>


<mat-card>
  <mat-card-title>
   Alert Configuration
  </mat-card-title>
  <mat-card-subtitle>
    Select alert type and enter duration
  </mat-card-subtitle><br>
  <mat-card-content>
    <form [formGroup]="buzzerConfigForm" (ngSubmit)="onSubmitbuzzerConfigForm(buzzerConfigForm.value)" >
      <mat-form-field >
        <mat-label>Configuration Type</mat-label>
        <mat-select class="select-panel" formControlName="buzzerConfig"  (selectionChange)="getBuzzerValue($event)"  required >
          <!-- <mat-option *ngFor="let a of buzzerValue"  [value]="a">{{a}}</mat-option> -->
          <mat-option value="1">Buzzer followed by LED blinking for  every new violation</mat-option>
          <mat-option value="2">Only LED</mat-option>
          <mat-option value="3">Only Buzzer</mat-option>
          <mat-option value="4">Buzzer followed by LED blinking for every new person</mat-option>
          <mat-option value="5">Repetition of Buzzer followed by LED blinking after set periodic interval</mat-option>
        </mat-select>
        <mat-error  >
          Please enter value
        </mat-error>
    </mat-form-field>
      <div *ngIf="buzzerConfigStatus" >
        <mat-form-field >
          <mat-label>Enter seconds in multiple of 5</mat-label>
            <input type='number' matInput formControlName="durationSec" required >
            <mat-error  >
              Please enter valid duration, minimum seconds is 10
            </mat-error>
        </mat-form-field>
      </div>
      <br><br> <br>
      <button class="btn-set" mat-raised-button [disabled]="!buzzerConfigForm.valid"   color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

  <mat-card>
    <mat-card-title>
      Upload Logo
    </mat-card-title>
    <mat-card-subtitle>
      Select logo
    </mat-card-subtitle><br>
    <mat-card-content>
      <form action="" [formGroup]="uploadForm" (ngSubmit)="formSubmit(uploadForm.value)">
      <!--   <input class="input-file" type="file" #fileInput  (change)="fileChange($event.target.files);"/><br><br> -->
        <input class="input-file" id="Upload" type="file" #fileInput  (change)="fileChange($event.target.files);"/>
        <span *ngIf="loading" style="color:red">Please choose jpg/jpeg/png*</span>
        <br><br> <br>
      <button class="btn-set" mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
<!-- -------------------- -->
<mat-card>
  <mat-card-title>
    Configure Temperature Scale
  </mat-card-title>
  <!-- <mat-card-subtitle>
    Enter minimum distance for user (in meter)
  </mat-card-subtitle> -->
  <mat-card-content>

    <br>
    <form [formGroup]="Temperaturescale" (ngSubmit)="onSubmitTemperature(Temperaturescale.value)">

      <mat-radio-group  color="primary" formControlName="temperatureFormat"  class="wearable">
        <mat-radio-button value="C" name="small" >Celsius</mat-radio-button>
        <mat-radio-button value="F" name="small" >Fahrenheit</mat-radio-button>
      </mat-radio-group><br>
      <br><br>
      <button class="btn-set" mat-raised-button   color="primary" [disabled]="!Temperaturescale.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

</div>
