mat-card {
  width: 20rem;
  margin: 2em auto;
  text-align: center;
}
.setting {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
.maxlimit {
  margin-top: 0.2rem;
}
mat-card.mat-card.mat-focus-indicator {
    box-shadow: 0 2px 8px 0 #ef6c00;
}
mat-card-title{
  color: #ef6c00;
  /* font-family: serif; */
  line-height: 2rem;
  font-weight: 400 !important;
}
mat-card-content.mat-card-content.shift {
  margin-top: 2rem !important;
}
.warning {
  border: 1px solid red;
  color: red;
}
.btn-set {
  position: absolute;
  bottom: 1rem;
  right: 7.5rem;
  cursor:pointer;
}
.btn-set-grp {
  position: absolute;
  bottom: 1rem;
  right: 5.5rem;
  cursor:pointer;
}
input.input-file {
  margin-left: 3.5rem;

}
.wearable {
  display: flex;
  justify-content: space-evenly;
  margin-top: -1rem;
}
.bufferError{
  margin-top: -1rem;
  font-size: smaller;
  margin-left: -1rem;
}
.infect{
  display: contents !important;
}
.marquee {
  margin:1rem 0 0 0;
/*
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width:fit-content;
  display: flex;*/
  line-height: 30px;
  font-weight: 500 !important;
  font-size: x-large !important;
  /* font-family: sans-serif !important; */
  /* -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite; */
  /* animation: marquee 15s linear infinite forwards; */
  color:red;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(35%);
  }
}
@media only screen and (max-width: 768px){
  .marquee {
    margin:1rem 0 0 0;
  /*
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width:fit-content;
    display: flex;*/
    line-height: 30px;
    font-weight: 500 !important;
    font-size: small !important;
    /* font-family: sans-serif !important; */
    /* -moz-animation: marquee 5s linear infinite;
    -webkit-animation: marquee 5s linear infinite;
    animation: marquee 5s linear infinite; */
    /* animation: marquee 15s linear infinite forwards; */
    color:red;
  }

}
